<div class="body">
    <div class="text-wrap">
        <div class="text-title__p">
            Privacy policy
        </div>
        <div class="text-desc__p">
            VERDEX AGRO respects and guards the privacy of visitors’ data to its website. This is corroborated by the fact that each visitor can peruse the website anonymously. VERDEX AGRO is not interested in the collection of users’ data, e.g., names or other details that may be revealing of something in association to the identity of visitors to its website.
        </div>
        <div class="text-desc__p">
            To be able to make use of certain services however, certain personal information must be provided. VERDEX AGRO is committed to taking all reasonable steps to ensure that all personal details with which it is provided are at all times handled in confidence and will exclusively be used for the purposes set out in this Privacy Policy.
        </div>
        <div class="text-desc__p mgt-20">
            <span class="bold">Article 1: Purpose</span><br><br>
            You can enter personal details at several places on the website. This has the following purpose:
        </div>
        <div class="text-desc__p">
            A) Questions<br>
            If you submit a question to VERDEX AGRO via <a routerLink="/{{lang}}/contact">online contact form</a>, your details will be used to issue you an official answer.
        </div>
        <div class="text-desc__p">
            B) Comments<br> 
            If you would like to make comments regarding the website you have to share specific details so that we, or other visitors to the website, can effectively address your remarks. 
        </div>
        <div class="text-desc__p">
            C) Distribution to third parties<br>
            VERDEX AGRO will not distribute your personal information to third parties without your prior consent unless we are obliged to do so due to a legal regulation or judicial injunction.
        </div>
        <div class="text-desc__p mgt-20">
            <span class="bold">Article 2: General information</span><br><br>
            VERDEX AGRO finds certain general information relating to the website of much interest. For instance, VERDEX AGRO is interested in data concerning its website’s traffic: how many visitors are there per day, which hours are busy and which ones are less traffic-heavy, which pages drive the most interest etc.
            Using this information VERDEX AGRO is more capable of personalizing its website according to the preferences of its visitors. To protect visitors’ right to privacy, all the information that is collected in this way will be general and anonymous. It is not possible to identify a visitor using this information.
        </div>
        <div class="text-desc__p">
            This general information is collected by IP data and cookies. Cookies are small text files that are used to recognize the visitor and are written onto the visitor’s computer. It is possible to set up your browser in such a way that no cookies can be used. However, you must realize that it’s quite possible that you will then no longer be able to utilise all the website’s features. To adjust the facilities and functions to the visitor’s equipment VERDEX AGRO also keeps track of which type of browser is used to contact our website. <a routerLink="../terms">Click here</a> for more information about the usage of cookies.
        </div>
        <div class="text-desc__p mgt-20">
            <span class="bold">Article 3: Questions or requests</span><br><br>
            You can ask VERDEX AGRO to alter or remove your personal details at any time. After receipt of the request VERDEX AGRO will alter or remove the details concerned in its data base as quickly as possible. You can also send an e-mail with any other questions or comments concerning VERDEX AGRO’s privacy policy to info&#64;verdexagro.com. For other questions and/or comments, VERDEX AGRO is happy to address your query through an <a routerLink="/{{lang}}/contact">online submission form</a>. 
        </div>
        <div class="text-desc__p mgt-20">
            <span class="bold">Article 4: References</span><br><br>
            The website may contain references to websites of third parties via hyperlinks, banners, or buttons for example. VERDEX AGRO is not responsible for compliance with privacy legislation by third parties.
        </div>
        <div class="text-desc__p mgt-20">
            <span class="bold">Article 5: Miscellaneous</span><br><br>
            The Privacy Policy can be altered at any time at VERDEX AGRO’s discretion and will be controlled perpetually.
        </div>
        <div class="text-desc__p">
            The Czech Law is the governing body pertinent to this Privacy Policy. Any discrepancies will be brought before the local court in accordance with The Czech Law provisions.
        </div>
        <div class="text-desc__p last">
            This policy replaces all previous versions and is correct as of April 2024. We reserve the right to change the policy at any time.
        </div>
    </div>
</div>