<div class="body-container" *ngIf="lang == 'en'">
    <div class="body-agriculture-container">
        <div class="body-agriculture-title">
            <p class="agriculture-title__p">
                WHY SHOULD YOU CONSIDER ORGANIC AGRICULTURE
            </p>
        </div>
        <div class="body-agriculture-desc">
            <div class="agriculture-desc-text">
                <div class="agriculture-desc-image" *ngIf="current_width > 1024">
                    <div class="desc-image-flex">
                        <h2>TECHNOLOGY</h2>
                        <div class="desc-img-wrap">
                            <img src="../../../../assets/blog/agriculture/agriculture_main.png" alt="" class="agriculture-desc-image__img">
                            <h2 class="mgt-15">SUSTAINABILITY</h2>
                        </div>
                        <h2>AGRICULTURE</h2>
                    </div>
                </div>
                <p class="agriculture-desc-text__p1">
                    Organic agriculture isn’t just a trend; it’s a transformation. Take the chance on becoming our partner and let us guide you towards organic success by exploring the key reasons behind this shift, from soil viability to animal welfare, with the support of our mineral bio stimulants.
                </p>
                <div class="agriculture-desc-image" *ngIf="current_width <= 1024">
                    <div class="desc-image-flex">
                        <h2 class="mgl-20">TECHNOLOGY</h2>
                        <div class="desc-img-wrap">
                            <img src="../../../../assets/blog/agriculture/agriculture_main.png" alt="" class="agriculture-desc-image__img">
                            <h2 class="mgt-15">SUSTAINABILITY</h2>
                        </div>
                        <h2>AGRICULTURE</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="agriculture-desc-text width100">
            <h1 class="mgt-40">
                1. ENVIRONMENTAL BENEFITS
            </h1>
            <p class="mgt-25">
                <span>Soil Health</span>: Contributing to healthy, nutrient-rich soils through composting, crop rotation, and reduced soil disturbance.<br>
                <span>Biodiversity</span>: Safeguarding biodiversity by avoiding the deployment of chemicals that are harmful to fauna and flora alike.
            </p>
            <h1 class="mgt-40">
                2. Health considerations
            </h1>
            <p class="mgt-25">
                <span>Reduced Pesticides</span>: Organic products contain lower levels of pesticide residues allowing for healthier food for end consumers<br>
                <span>Non-GMO</span>: Organic farming prohibits the use of GMOs or any of their derivatives, securing a guarantee of GMO-free produce
            </p>
            <h1 class="mgt-40">
                3. SUSTAINABILITY
            </h1>
            <p class="mgt-25">
                <span>Soil Viability</span>: Organic farming goes hand in hand with lasting sustainability, preserving soil fertility and structure.<br>
                <span>Reduced Energy Usage</span>: Less energy-intensive than conventional farming on account of reduced reliance on synthetic inputs
            </p>
            <img src="../../../../assets/blog/main-body/blog_item_img3_green.png" alt="" class="agriculture-body__img mgt-40">
            <h1 class="mgt-40">
                4. Animal welfare
            </h1>
            <p class="mgt-25">
                <span>Animal Health</span>: Organic agriculture is conducive to disease prevention and treatment for livestock. Reduced dependence on antibiotics and synthetic growth promoters mitigates various health concerns spanning across animal production spectrum.
            </p>
            <h1 class="mgt-40">
                5. MARKET RESPONSE
            </h1>
            <p class="mgt-25">
                <span>Growing Demand</span>: Organic products are gradually rising in popularity due to their aforementioned quality, safety, and environmental benefits, thus increasing profitability for organic farmers and creating economic incentives to transition to organic production.
            </p>
            <p class="mgt-15">
                <a routerLink="/contact">Contact us</a> and get your organic journey afoot today! Our sustainable line of mineral bio stimulants will help you deliver <span>better health</span> and <span>performance</span> of your business.
            </p>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            YOU MIGHT ALSO LIKE
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    The importance of high utility calcium
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Why should farmers use VitaCALCITE plant booster
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Zeolite clinoptilolite - Modus Operandi
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/minerals.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    The importance of mineral nutrition in plants
                </p>
                <a routerLink="/{{lang}}/blog/nutrition" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  

<div class="body-container" *ngIf="lang == 'cz'">
    <div class="body-agriculture-container">
        <div class="body-agriculture-title">
            <p class="agriculture-title__p">
                PROČ BYSTE MĚLI PŘEMÝŠLET O PŘECHODU NA EKOLOGICKÉ ZEMĚDĚLSTVÍ?
            </p>
        </div>
        <div class="body-agriculture-desc">
            <div class="agriculture-desc-text">
                <div class="agriculture-desc-image" *ngIf="current_width > 1024">
                    <div class="desc-image-flex">
                        <h2>TECHNOLOGIE</h2>
                        <div class="wrap">
                            <img src="../../../../assets/blog/agriculture/agriculture_main.png" alt="" class="agriculture-desc-image__img">
                            <h2 class="mgt-15">UDRŽITELNOST</h2>
                        </div>
                        <h2>ZEMĚDĚLSTVÍ</h2>
                    </div>
                </div>
                <p class="agriculture-desc-text__p1">
                    Ekologické zemědělství není jen pomíjivý trend, ale celková transformace. Využijte šanci stát se našimi partnery, abychom vás mohli dovést k úspěchu v ekologickém zemědělství s pomocí jeho klíčových pilířů – od životaschopnosti půdy po dobré životní podmínky zvířat, to vše s podporou našich minerálních biostimulátorů.
                </p>
                <div class="agriculture-desc-image" *ngIf="current_width <= 1024">
                    <div class="desc-image-flex">
                        <h2 class="mgl-20">TECHNOLOGY</h2>
                        <div class="desc-img-wrap">
                            <img src="../../../../assets/blog/agriculture/agriculture_main.png" alt="" class="agriculture-desc-image__img">
                            <h2 class="mgt-15">SUSTAINABILITY</h2>
                        </div>
                        <h2>AGRICULTURE</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="agriculture-desc-text width100">
            <h1 class="mgt-40">
                1. Výhody pro životní prostředí
            </h1>
            <p class="mgt-25">
                <span>Zdraví půdy</span>: Přispíváme ke zdravé, na živiny bohaté půdě prostřednictvím kompostování, obměny plodin a prevence narušování půdy.<br>
                <span>Biodiverzita</span>: Ochrana biologické rozmanitosti skrze omezené používání chemických látek, které jsou škodlivé jak pro faunu, tak pro flóru.
            </p>
            <h1 class="mgt-40">
                2. Zdravotní hlediska
            </h1>
            <p class="mgt-25">
                <span>Snížení množství pesticidů</span>: Ekologicky vypěstované produkty obsahují nižší množství reziduí pesticidů, což umožňuje výrobu zdravějších potravin pro konečné spotřebitele.<br>
                <span>Bez GMO</span>: Ekologické zemědělství zakazuje použití geneticky modifikovaných organismů nebo jejich derivátů, což zaručuje, že výsledné produkty jsou 100% bez GMO.
            </p>
            <h1 class="mgt-40">
                3. Udržitelnost
            </h1>
            <p class="mgt-25">
                <span>Životaschopnost půdy</span>: Ekologické zemědělství jde ruku v ruce s dlouhodobou udržitelností, přičemž zachovává úrodnost a strukturu půdy.<br>
                <span>Snížená spotřeba energie</span>: Ekologické zemědělství je méně energeticky náročné než konvenční zemědělství, protože je méně závislé na syntetických vstupech.
            </p>
            <img src="../../../../assets/blog/main-body/blog_item_img3_green.png" alt="" class="agriculture-body__img mgt-40">
            <h1 class="mgt-40">
                4. Lepší welfare zvířat
            </h1>
            <p class="mgt-25">
                <span>Lepší zdraví zvířat</span>: Ekologické zemědělství má příznivý vliv na prevenci a léčbu nemocí u hospodářských zvířat. Snížená závislost na antibiotikách a syntetických stimulátorech růstu omezuje výskyt různých zdravotních potíží, které se vyskytují v celém spektru živočišné výroby.
            </p>
            <h1 class="mgt-40">
                5. Reakce trhu
            </h1>
            <p class="mgt-25">
                <span>Rostoucí poptávka</span>: Ekologické produkty postupně získávají na oblibě díky své výše zmíněné kvalitě, bezpečnosti a environmentálním výhodám, čímž se zvyšuje ziskovost ekologických zemědělců a vytváří se ekonomická stimulace pro přechod na ekologickou produkci.
            </p>
            <p class="mgt-15">
                <span>Kontaktujte nás</span> a vydejte se na cestu ekologického zemědělství ještě dnes! Naše udržitelná řada minerálních biostimulátorů vám pomůže zajistit <span>lepší zdraví</span> a <span>výsledky</span> vašeho zemědělského podniku.
            </p>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            MOHLO BY VÁS ZAJÍMAT
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    VÝZNAM VÁPNÍKU
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    PROČ BY MĚLI FARMÁŘI POUŽÍVAT VITACALCITE
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    ZEOLITO KLINOPTILOLIT MODUS OPERANDI
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/minerals.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    ROLE MINERÁLNÍ VÝŽIVY V ROSTLINÁCH
                </p>
                <a routerLink="/{{lang}}/blog/nutrition" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  