<div class="body-container" *ngIf="lang == 'en'">
    <div class="body-soil-container">
        <div class="body-soil-title">
            <p class="soil-title__p">
                How would farmers improve soil quality with Vita<span>LAND</span> soil conditioner?
            </p>
        </div>
        <div class="body-soil-desc">
            <div class="soil-desc-text">
                <div class="soil-desc-image" *ngIf="current_width > 1024">
                    <img src="../../../../assets/blog/soil/soil-rect_img.png" alt="" class="soil-desc-image__img">
                </div>
                <p class="soil-desc-text__p1">
                    The brand name Vita<span>LAND</span> denotes our certified organic soil conditioner input made from 100% naturally occurring minerals. The product has been developed to improve overall soil health and fertility, in turn generating increased yield and quality of produce.
                </p>
                <div class="soil-desc-image" *ngIf="current_width <= 1024">
                    <img src="../../../../assets/blog/soil/soil-rect_img.png" alt="" class="soil-desc-image__img">
                </div>
                <p class="mgt-15">
                    Discover how farmers can benefit from deploying VitaLAND on their farm:
                </p>
                <ul class="mgt-35">
                    <li class="li-numeric"><p class="soil-desc-text__p"><span>Soil cleansing</span>: Vita<span>LAND</span> comes equipped with unique porous structure that actively absorbs heavy metals and other pollutants from the soil and neutralizes them.</p></li>
                    <li class="li-numeric"><p class="soil-desc-text__p"><span>Water management</span>: The ability to retain water in its structure and gradually release it when needed is also a property of Vita<span>LAND</span>, particularly welcome during rainfall/drought seasons.</p></li>
                    <li class="li-numeric"><p class="soil-desc-text__p"><span>Nutrient availability</span>: Vita<span>LAND</span> also binds nutrients unto itself and makes them available for plant roots that gradually assimilate the minerals and trace elements bound in its crystalline lattice.</p></li>
                </ul>
            </div>
        </div>
        <img src="../../../../assets/blog/soil/soil-body_img.png" alt="" class="soil-body__img">
        <div class="soil-desc-text width100 mgt-50">
            <p>
                Other properties are welcomed additions to those already listed. Especially <span>loosening of the soil</span> (helps roots to grow and enables better nutrient exchange through the root) and promoting <span>growth of small microorganisms</span> in the rhizosphere (important for transferring nutrients to the root). 
            </p>
            <p class="mgt-35">
                What is excellent is that our organic soil conditioner functions best in tandem with common fertigation both in ecological and conventional production!
            </p>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            YOU MIGHT ALSO LIKE
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    The importance of high utility calcium
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Why should farmers use VitaCALCITE plant booster
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Zeolite clinoptilolite - Modus Operandi
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    Why should you consider organic agriculture
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  

<div class="body-container" *ngIf="lang == 'cz'">
    <div class="body-soil-container">
        <div class="body-soil-title">
            <p class="soil-title__p">
                Jak mohou zemědělci zlepšit kvalitu půdy pomocí půdního kondicionéru Vita<span>LAND</span>?
            </p>
        </div>
        <div class="body-soil-desc">
            <div class="soil-desc-text">
                <div class="soil-desc-image" *ngIf="current_width > 1024">
                    <img src="../../../../assets/blog/soil/soil-rect_img.png" alt="" class="soil-desc-image__img">
                </div>
                <p class="soil-desc-text__p1">
                    Značka Vita<span>LAND</span> označuje náš certifikovaný organický půdní kondicionér 100% vyrobený z přirozeně se vyskytujících minerálů. Produkt byl vyvinut za účelem zlepšení celkového stavu a úrodnosti půdy, což následně vede ke zvýšení výnosů a kvality produkce.
                </p>
                <div class="soil-desc-image" *ngIf="current_width <= 1024">
                    <img src="../../../../assets/blog/soil/soil-rect_img.png" alt="" class="soil-desc-image__img">
                </div>
                <p class="mgt-15">
                    Zjistěte, jaké výhody může zemědělcům přinést nasazení přípravku VitaLAND na jejich farmách:
                </p>
                <ul class="mgt-35">
                    <li class="li-numeric"><p class="soil-desc-text__p"><span>Očištění půdy</span>: Vita<span>LAND</span> disponuje jedinečnou porézní strukturou, která aktivně absorbuje a neutralizuje těžké kovy a další znečišťující látky.</p></li>
                    <li class="li-numeric"><p class="soil-desc-text__p"><span>Hospodaření s vodou</span>: Vita<span>LAND</span> má také schopnost zadržovat vodu ve své struktuře a postupně ji uvolňovat, když je potřeba, což přichází vhod zejména v období dešťů nebo sucha.</p></li>
                    <li class="li-numeric"><p class="soil-desc-text__p"><span>Dostupnost živin</span>: Vita<span>LAND</span> na sebe umí vázat živiny a zpřístupnit je kořenům rostlin, které postupně asimilují minerály a stopové prvky vázané v jeho krystalické mřížce.</p></li>
                </ul>
            </div>
        </div>
        <img src="../../../../assets/blog/soil/soil-body_img.png" alt="" class="soil-body__img">
        <div class="soil-desc-text width100 mgt-50">
            <p>
                Krom výše uvedených má přípravek i další užitečné vlastnosti. Jde zejména o <span>kypření půdy</span> (napomáhá růstu kořenů a umožňuje lepší výměnu živin kořeny) a podporu <span>růstu drobných mikroorganismů</span> v rhizosféře (důležité pro přenos živin ke kořenům). 
            </p>
            <p class="mgt-35">
                Velkou výhodou je i to, že náš organický půdní kondicionér funguje nejlépe v kombinaci s běžnou fertigací, a to jak v ekologické, tak běžné zemědělské produkci!
            </p>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            MOHLO BY VÁS ZAJÍMAT
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    VÝZNAM VÁPNÍKU
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    PROČ BY MĚLI FARMÁŘI POUŽÍVAT VITACALCITE
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    ZEOLITO KLINOPTILOLIT MODUS OPERANDI
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    PROČ STOJÍ ZA TO ZVÁŽIT PŘECHOD NA EKOLOGICKÉ ZEMĚDĚLSTVÍ
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  