<div class="body-container" *ngIf="lang == 'en'">
    <div class="body-zeolit-container">
        <div class="body-zeolit-title">
            <p class="zeolit-title__p">
                ZEOLITE CLINOPTILOLITE - MODUS OPERANDI
            </p>
        </div>
        <div class="body-zeolit-desc">
            <div class="zeolit-desc-text">
                <div class="zeolit-desc-image">
                    <img src="../../../../assets/blog/zeolit/zeolit_main.png" alt="" class="zeolit-desc-image__img">
                </div>
                <p class="zeolit-desc-text__p1">
                    <span>Zeolite clinoptilolite</span> is a porous mineral of sedimentary origin with high absorbency and ion-exchange capacity. It is an excellent detoxifying, antioxidant, and anti-inflammatory agent whose attributes are responsible for:
                </p>
                <ul class="mgt-35">
                    <li class="li-numeric"><p class="zeolit-desc-text__p">Binding of toxins and heavy metals in its crystalline matrix and neutralizing them.</p></li>
                    <li class="li-numeric"><p class="zeolit-desc-text__p">Provision of a reliable supply of essential minerals and trace elements.</p></li>
                    <li class="li-numeric"><p class="zeolit-desc-text__p"> Strengthening of the support system by eliminating pollutants that compromise immunity.</p></li>
                    <li class="li-numeric"><p class="zeolit-desc-text__p">Greater nutrient availability and efficient nutrient uptake by the target medium.</p></li>
                    <li class="li-numeric"><p class="zeolit-desc-text__p">Promotion of healthy pH level balance thanks to its alkalizing properties.</p></li>
                </ul>
                <p class="mgt-40">
                    The multifaceted scope of benefits across different industrial applications renders zeolite clinoptilolite a universal aid employed in our product range as both soil conditioner (Vita<span>LAND</span>) and feed additive for animals (Vita<span>XORB</span>).
                </p>
                <p class="mgt-50">
                    Vita<span>LAND</span> soil conditioner:
                </p>
                <ul class="mgt-15">
                    <li><p>Binds soil nutrients from common fertigation and preserves them for plant uptake</p></li>
                    <li><p>Improves general fertigation efficiency by streamlining nutrient availability</p></li>
                    <li><p>Absorbs water in its porous structure and gradually releases it when needed</p></li>
                </ul>
                <p class="mgt-50">
                    Vita<span>XORB</span> feed additive:
                </p>
                <ul class="mgt-15">
                    <li><p>Fixes and immobilizes toxins, nitrosamines, dioxins, heavy metals and ammonia, bacterial toxins and viruses</p></li>
                    <li><p>Acts on the gut-associated lymphoid tissue (Galt) manifest in positive modulation of the animal immune system</p></li>
                    <li><p>Provides source of bio-available silicon (H&#8324;SiO&#8324;) yielding faster bone growth, robust hair (coat, fur), stronger tendons, etc.</p></li>
                </ul>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            YOU MIGHT ALSO LIKE
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/minerals.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    The importance of mineral nutrition in plants
                </p>
                <a routerLink="/{{lang}}/blog/nutrition" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Why should farmers use VitaCALCITE plant booster
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    The importance of high utility calcium
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    Why should you consider organic agriculture
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  

<div class="body-container" *ngIf="lang == 'cz'">
    <div class="body-zeolit-container">
        <div class="body-zeolit-title">
            <p class="zeolit-title__p">
                ZEOLIT KLINOPTILOLIT – FUNKCE A VYUŽITÍ 
            </p>
        </div>
        <div class="body-zeolit-desc">
            <div class="zeolit-desc-text">
                <div class="zeolit-desc-image">
                    <img src="../../../../assets/blog/zeolit/zeolit_main.png" alt="" class="zeolit-desc-image__img">
                </div>
                <p class="zeolit-desc-text__p1">
                    <span>Zeolit klinoptilolit</span>je porézní minerál sedimentárního původu s vysokou absorpční a iontově výměnnou kapacitou. Jedná se o vynikající detoxikační, antioxidační a protizánětlivý přípravek, jehož unikátní vlastnosti umožňují:
                </p>
                <ul class="mgt-35">
                    <li class="li-numeric"><p class="zeolit-desc-text__p">Vázat toxiny a těžké kovy ve své krystalické matrici a neutralizovat je.</p></li>
                    <li class="li-numeric"><p class="zeolit-desc-text__p">Zajistit spolehlivý přísun základních minerálů a stopových prvků.</p></li>
                    <li class="li-numeric"><p class="zeolit-desc-text__p">Posílit podpůrný systém skrze eliminaci škodlivin, které ohrožují imunitu.</p></li>
                    <li class="li-numeric"><p class="zeolit-desc-text__p">Větší dostupnost živin a efektivní příjem živin cílovým prostředím.</p></li>
                    <li class="li-numeric"><p class="zeolit-desc-text__p">Docílit zdravé rovnováhy hladiny pH díky svým alkalizačním vlastnostem.</p></li>
                </ul>
                <p class="mgt-40">
                    Mnohostranné spektrum výhod napříč různými průmyslovými aplikacemi dělají z přípravku zeolit clinoptilolit univerzálního pomocníka, který je v našem sortimentu dostupný jako půdní kondicionér (Vita<span>LAND</span>) nebo krmná přísada pro zvířata (Vita<span>XORB</span>).
                </p>
                <p class="mgt-50">
                    Vita<span>LAND</span> půdní kondicionér:
                </p>
                <ul class="mgt-15">
                    <li><p>Váže na sebe živiny z běžného hnojení a uchovává je pro příjem rostlinami.</p></li>
                    <li><p>Zlepšuje obecnou účinnost fertigace tím, že zefektivňuje dostupnost živin.</p></li>
                    <li><p>Absorbuje vodu ve své porézní struktuře a postupně ji uvolňuje, když je zapotřebí.</p></li>
                </ul>
                <p class="mgt-50">
                    Krmná přísada Vita<span>XORB</span>:
                </p>
                <ul class="mgt-15">
                    <li><p>Váže a imobilizuje toxiny, nitrosaminy, dioxiny, těžké kovy a amoniak, bakteriální toxiny a viry.</p></li>
                    <li><p>Působí na střevní lymfatickou tkáň (Galt), což se projevuje pozitivní modulací imunitního systému zvířat.</p></li>
                    <li><p>Poskytuje zdroj biologicky dostupného křemíku (H&#8324;SiO&#8324;), díky němuž dochází k rychlejšímu růstu kostí, pevnější srsti, silnějším šlachám atd.</p></li>
                </ul>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            MOHLO BY VÁS ZAJÍMAT
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/minerals.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    ROLE MINERÁLNÍ VÝŽIVY V ROSTLINÁCH
                </p>
                <a routerLink="/{{lang}}/blog/nutrition" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    PROČ BY MĚLI FARMÁŘI POUŽÍVAT VITACALCITE
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    VÝZNAM VÁPNÍKU
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    PROČ STOJÍ ZA TO ZVÁŽIT PŘECHOD NA EKOLOGICKÉ ZEMĚDĚLSTVÍ
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  