<div class="body-container" *ngIf="lang == 'en'">
    <div class="body-calcium-container">
        <div class="body-calcium-title">
            <p class="calcium-title__p">
                THE IMPORTANCE OF CALCIUM
            </p>
        </div>
        <div class="body-calcium-desc">
            <div class="calcium-desc-text">
                <div class="calcium-desc-image" *ngIf="current_width > 1024">
                    <img src="../../../../assets/blog/calcium/calcium_rect.png" alt="" class="calcium-desc-image__img">
                </div>
                <p class="calcium-desc-text__p1">
                    Calcium is an essential nutrient for plant growth and development involved in:
                </p>
                <div class="calcium-desc-image" *ngIf="current_width <= 1024">
                    <img src="../../../../assets/blog/calcium/calcium_rect.png" alt="" class="calcium-desc-image__img">
                </div>
                <ul class="mgt-40">
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Cell wall formation</span>: Calcium is a major component of cell walls essential for the formation of strong and rigid cell walls, protecting the plants and allowing them to support their own weight.</p></li>
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Membrane function</span>: Calcium is also important for the function of plant membranes. It helps to maintain the integrity of membranes and regulates the nutrient transport in and out of cells.</p></li>
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Enzyme activity</span>: Calcium is indispensable for the activity of many enzymes, which are essential for proper metabolism function.</p></li>
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Hormone signaling</span>: Calcium is involved in the signaling of plant hormones, which regulate a wide range of plant growth and development processes.</p></li>
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Disease resistance</span>: Calcium increases plant disease resistance by reinforcing cell walls/membranes.</p></li>
                </ul>
            </div>
        </div>
        <div class="calcium-desc-text width100">
            <p class="calcium-desc-text__p mgt-40">
                Conversely, calcium deficiency poses a serious threat to healthy crop development by:
            </p>
            <ul class="mgt-40">
                <li class="li-numeric"><p><span>Leaf curling</span>: Often accompanied by distorted growth since calcium deficiency is manifest by affliction to the development of new leaves.</p></li>
                <li class="li-numeric"><p><span>Necrosis</span>: Necrotic areas at the tips and edges of the leaves may expand further inward, leading to leaf dieback if the deficiency persists.</p></li>
                <li class="li-numeric"><p><span>Stunted growth</span>: As a consequence of reduced cell elongation in the absence of adequate calcium levels indispensable for rigid cell wall structure.</p></li>
                <li class="li-numeric"><p><span>Blossom end rot</span>: Common vegetable disease where insufficient calcium in developing fruit tissues results in extensive rot, rendering them unmarketable.</p></li>
            </ul>
        </div>
        <img src="../../../../assets/blog/calcium/calcium-body_img.png" alt="" class="calcium-body__img mgt-50">
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            YOU MIGHT ALSO LIKE
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/minerals.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    The importance of mineral nutrition in plants
                </p>
                <a routerLink="/{{lang}}/blog/nutrition" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Why should farmers use VitaCALCITE plant booster
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Zeolite clinoptilolite - Modus Operandi
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    Why should you consider organic agriculture
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  

<div class="body-container" *ngIf="lang == 'cz'">
    <div class="body-calcium-container">
        <div class="body-calcium-title">
            <p class="calcium-title__p">
                VÝZNAM VÁPNÍKU
            </p>
        </div>
        <div class="body-calcium-desc">
            <div class="calcium-desc-text">
                <div class="calcium-desc-image" *ngIf="current_width > 1024">
                    <img src="../../../../assets/blog/calcium/calcium_rect.png" alt="" class="calcium-desc-image__img">
                </div>
                <p class="calcium-desc-text__p1">
                    Vápník (kalcium, Ca) je základní živina pro růst a vývoj rostlin, která se podílí na těchto procesech:
                </p>
                <div class="calcium-desc-image" *ngIf="current_width <= 1024">
                    <img src="../../../../assets/blog/calcium/calcium_rect.png" alt="" class="calcium-desc-image__img">
                </div>
                <ul class="mgt-40">
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Tvorba buněčné stěny</span>: Je hlavní složkou buněčných stěn, která je nezbytná pro tvorbu pevných a tuhých buněčných stěn, jež chrání rostliny a umožňují jim udržet jejich vlastní váhu.</p></li>
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Funkce membrán</span>: Je rovněž důležitý pro funkci rostlinných membrán tím, že pomáhá udržovat integritu membrán a reguluje přenos živin do buněk a z buněk.</p></li>
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Aktivita enzymů</span>: Podporuje činnost mnoha enzymů zásadních pro správnou funkci metabolismu.</p></li>
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Hormonální signalizace</span>: Podílí se na signalizaci rostlinných hormonů, které regulují celou řadu procesů růstu a vývoje rostlin.</p></li>
                    <li class="li-numeric"><p class="calcium-desc-text__p"><span>Odolnost vůči chorobám</span>: Zvyšuje odolnost rostlin vůči chorobám tím, že zpevňuje buněčné stěny/membrány.</p></li>
                </ul>
            </div>
        </div>
        <div class="calcium-desc-text width100">
            <p class="calcium-desc-text__p mgt-40">
                Naopak nedostatek vápníku představuje vážnou hrozbu pro zdravý vývoj plodin, což se projevuje jako:
            </p>
            <ul class="mgt-40">
                <li class="li-numeric"><p><span>Kroucení listů</span>: Často je doprovázeno deformovaným růstem, protože nedostatek vápníku má za následek postižení vývoje nových listů.</p></li>
                <li class="li-numeric"><p><span>Nekróza</span>: Nekrotické oblasti na špičkách a okrajích listů se mohou rozšiřovat dále dovnitř, což při přetrvávajícím nedostatku kalcia vede k odumírání listů.</p></li>
                <li class="li-numeric"><p><span>Zakrnělý růst</span>: Jde o následek sníženého prodlužování buněk při nedostatku dostatečné hladiny vápníku, jenž je nezbytný pro pevnou strukturu buněčné stěny.</p></li>
                <li class="li-numeric"><p><span>Hniloba konců květů</span>: Běžná choroba u zeleniny, kdy nedostatek vápníku v rostoucích tkáních plodů způsobuje jejich rozsáhlou hnilobu, kvůli níž je zelenina neprodejná.</p></li>
            </ul>
        </div>
        <img src="../../../../assets/blog/calcium/calcium-body_img.png" alt="" class="calcium-body__img mgt-50">
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            MOHLO BY VÁS ZAJÍMAT
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/minerals.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    ROLE MINERÁLNÍ VÝŽIVY V ROSTLINÁCH
                </p>
                <a routerLink="/{{lang}}/blog/nutrition" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    PROČ BY MĚLI FARMÁŘI POUŽÍVAT VITACALCITE
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    ZEOLITO KLINOPTILOLIT MODUS OPERANDI
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    PROČ STOJÍ ZA TO ZVÁŽIT PŘECHOD NA EKOLOGICKÉ ZEMĚDĚLSTVÍ
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  