<div class="body">
    <div class="text-wrap">
        <div class="text-title__p">
            Terms and Conditions
        </div>

        <div class="text-desc__p bold">
            LEGAL NOTICE
        </div>
        <div class="text-desc__p">
            The General Conditions outlined below (the “General Conditions”), regulate the access and use of the website available under the domain “www.verdexagro.com”, (hereinafter, the “Website”), property of “VERDEX AGRO s.r.o.” (hereinafter, “VERDEX AGRO”).
        </div>
        <div class="text-desc__p">
            In compliance with the duty of information contained in article 10 of Act 34/2002, of July 11, on Information Society Services and Electronic Commerce, information on the Website’s owner is provided below:
        </div>
        <div class="text-desc__p">
            <span>Owner:</span> VERDEX AGRO s.r.o.<br>
            <span>Tax Identification Number:</span> 17951399<br>
            <span>Corporate address:</span> Solna 35/13, 74601 Opava ,Czech Republic<br>
            <span>E-mail:</span> info&#64;verdexagro.com<br>
            <span>Registration data:</span> C 85311/KSOS registered with the Regional Court of Ostrava<br>
        </div>
        <div class="text-desc__p">
            Access to and use of the Website’s content and services confers the status of Website User (hereinafter, the “User”) and implies the User’s full acceptance, without reservation of any kind, of the General Conditions that are published when the User accesses the Website. The aforementioned Conditions will apply regardless of the Contract’s General Conditions that, when applicable, are obligatory.
        </div>
        <div class="text-desc__p bold">
            We recommend the Users to carefully read the contents of the General Conditions each time they are ready to use the Website.
        </div>
        <div class="text-desc__p">
            The latest version of the General Conditions may be consulted whenever desired at the Website’s electronic web address. If the User decides not to accept the current Conditions, they must refrain from accessing the Website and/or using the content and/or services available therein.
        </div>
        <div class="text-desc__p">
            GENERAL CONDITIONS
        </div>
        <div class="text-desc__p">
            <span class="bold">I.- PURPOSE OF THE CONDITIONS</span>
        </div>
        <div class="text-desc__p">
            Article 5: Miscellaneous<br>
            The Privacy Policy can be altered at any time at VERDEX AGRO’s discretion and will be controlled perpetually.
        </div>
        <div class="text-desc__p">
            The Czech Law is the governing body pertinent to this Privacy Policy. Any discrepancies will be brought before the local court in accordance with The Czech Law provisions.
        </div>
        <div class="text-desc__p">
            The purpose of these General Conditions is to regulate the access and use of the Website. For the purposes herein, the Website shall be understood as:
        </div>
        <ul>
            <li>
                <p class="text-desc__p">
                    Look and feel of the screen interfaces, from both a static and dynamic perspective (in other words, the navigation tree).
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    The elements integrated both in the screen interfaces and the navigation tree, including, but not limited to, texts, images, sounds, databases, multimedia products, interpretations, artistic executions, postings, photographs, broadcasting signals and, in general, all creations and objects expressed through any media or storage medium, currently known or that may be invented in the future, whether or not they are protected by the current legal system regarding intellectual or industrial property or any other similar legal system (hereinafter, the “Content”) and all those services or online resources that may be offered to users (hereinafter, the “Services”).
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    VERDEX AGRO reserves the right to modify, at any moment and without notice, the presentation and configuration of the Website and the Content and Services contained 
                    therein. The user acknowledges and accepts that VERDEX AGRO may, at any time, interrupt, deactivate and/or cancel any of the Content or Services integrated into the Website.
                </p>
            </li>
        </ul>
        <div #cookie>
            <p class="text-desc__p mgt-20">
                <span class="bold">II.- USE OF COOKIES</span>
            </p>
            <p class="text-desc__p">
                VERDEX AGRO uses cookies when a user browses its Website. These cookies are only associated with an anonymous user and their computer, and they do not provide any references through which the user’s first and last names could be deduced.
            </p>
            <p class="text-desc__p">
                VERDEX AGRO’s cookies cannot read data on the hard drive or cookie files created by other service providers.
            </p>
            <p class="text-desc__p">
                VERDEX AGRO encrypts the user’s identification data for greater security. By means of the cookies, VERDEX AGRO can recognize the registered users once they have registered for the first time, without them needing to register every time they visit the Website.
            </p>
            <p class="text-desc__p">
                Although the user is not required to allow the installation of the cookies to use our Website, rejecting their installation may require the user to register every time they agree to a service that requires prior registration.
            </p>
            <p class="text-desc__p">
                VERDEX AGRO understands that browsing the Website means accepting the collection and processing of such information. In any case, commonly used browsers contain a series of security functions that allow the user to block the use of cookies and/or other browser data collection systems.
            </p>
        </div>
        <p class="text-desc__p mgt-20">
            <span class="bold">III.- LEGAL INFORMATION ON THE COLLECTION OF PERSONAL DATA</span>
        </p>
        <p class="text-desc__p">
            The provisions of the <a routerLink="../privacy">Privacy Policy</a> document shall determine the personal data processing that may be carried out through the Website.
        </p>
        <p class="text-desc__p mgt-20">
            <span class="bold">IV.- OBLIGATION TO PROPERLY USE THE WEBSITE AND ITS CONTENT</span>
        </p>
        <p class="text-desc__p">
            All the content included on the Website is exclusively provided for informational purposes; therefore, under no circumstances can it serve as a basis for appeals or claims or constitute a source of rights. VERDEX AGRO reserves the right to modify the Website’s content without prior notice.
        </p>
        <p class="text-desc__p">
            The User agrees to make appropriate use of the Website and utilities provided to him/her in accordance with the law, this legal document and the instructions and warnings communicated.
        </p>
        <p class="text-desc__p">
            The user pledges to only use the Website and all its content for legal and permitted purposes that do not violate the current law and/or harm the legitimate rights of VERDEX AGRO or any other third party and/or may cause direct or indirect damage.
        </p>
        <p class="text-desc__p">
            To this end, the User shall refrain from using any of the Website’s content for illegal purposes that are prohibited in this Legal Document, detrimental to the interests of third 
            parties or that, in any form, may damage, render useless, overload, deteriorate or prevent the normal use of the Website.
        </p>
        <p class="text-desc__p">
            In particular, by way of example and without limitation, the User agrees not to transfer, distribute or make available to third parties information, data, content, messages, graphics, pictures, sound files and/or images, photographs, recordings, software and, in general, any kind of material that:
        </p>
        <ul>
            <li>
                <p class="text-desc__p">
                    In any way, contravene, denigrate or threaten fundamental rights and public liberties constitutionally recognized or established in international treaties and other legislation;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Induce, incite or promote criminal, denigrating, defamatory or violent actions or, in general, actions that are contrary to law, morality, decent conduct or public order;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Induce, incite or promote discriminatory actions, attitudes or ideas against sex, race, gender, religion, ethnicity, beliefs, age or status;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Include, make available or permit access to products, elements, messages, and/or services that are criminal, violent, offensive, harmful, degrading and/or, in general, contrary to law, morality, decent conduct or public order;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Are false, ambiguous, inaccurate, exaggerated or extemporaneous, in such a manner that they could incur error on its subject matter, or on the intentions or purposes of the communicator;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Are protected by any intellectual or industrial rights belonging to third parties, without the User having previously obtained the owner’s permission needed for use (or intended use) thereof;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Violate third party professional confidentiality;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Are contrary to rights to reputation, personal and family privacy or self-image of persons;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Diminish VERDEX AGRO’s credit in any way;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Breach regulations on the privacy of communications;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Constitute, when applicable, illegal, deceitful or disloyal publicity and, in general, unfair competition;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Include viruses or other physical or electronic elements that may damage or impede normal operations of the network, the system or the computer equipment (hardware and software) of VERDEX AGRO or of third parties or that may damage electronic documents and files stored on said computer equipment;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Cause difficulties in the Service’s normal operations due to its characteristics (such as format, extension, etc.);
                </p>
            </li>
        </ul>
        <p class="text-desc__p mgt-20">
            THE USER AGREES NOT TO:
        </p>
        <ul>
            <li>
                <p class="text-desc__p">
                    Reproduce, copy, distribute, make available or communicate in any other way, transfer or modify the Content, unless they have authorization from the owner of the corresponding rights, or it is legally permitted;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Delete, manipulate or in any way alter the copyright and other data that identify the reservation of rights held by VERDEX AGRO;
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Attempt to obtain the Content using means or procedures other than those (depending on the case) made available for this purpose or indicated for this purpose on the Website where the Content is located or, in general, that are normally used on the Internet for this purpose provided that they do not pose a risk of damaging or disabling the Website, the Services and/or the Content.
                </p>
            </li>
        </ul>
        <p class="text-desc__p">
            The user will be liable for damages of any kind that VERDEX AGRO may suffer, directly or indirectly, as a consequence of violation of any of the obligations that arise from the General Conditions or the law regarding the use of the Website.
        </p>
        <p class="text-desc__p mgt-20">
            <span class="bold">V.- REGISTRATION</span>
        </p>
        <p class="text-desc__p">
            Sending a registration form may be required by VERDEX AGRO in order to access certain Content and/or Services. In this case, the User must provide the information requested. In relation to the registration process, the User is required to:
        </p>
        <ul>
            <li>
                <p class="text-desc__p">
                    Provide correct, accurate and full data regarding their identity and update the registration data so they continue to be correct, accurate and complete.
                </p>
            </li>
        </ul>
        <p class="text-desc__p">
            Online registration and participation is limited to persons above the age of 18. Minors must have the legal consent of their parents or guardians, who will be considered liable for the acts carried out by minors under their care, in accordance with the current legislation.
        </p>
        <p class="text-desc__p">
            For usernames or passwords, the User may not choose words and/or expressions that, in general, are contrary to the law or moral obligations and decent conduct and, in general, words and/or expressions that are protected by any right preventing their use by the User. To this end, the User may not choose words or expressions that are rude, offensive, slanderous, identical, or similar or that coincide in any way with distinctive signs, corporate names as well as first names, last names, artistic names and/or pseudonyms of third parties.
        </p>
        <p class="text-desc__p">
            If the User provides any false, inaccurate or incomplete data, or if VERDEX AGRO has sufficient reason to suspect that said data were false, inaccurate or incomplete or contrary to the law or the moral obligations and decent conduct, in accordance with the paragraph above, VERDEX AGRO shall have the right to cancel registration and deny access to and use, present and future, of the Website or any of the Content and/or Services incorporated therein.
        </p>
        <p class="text-desc__p">
            The User pledges to make diligent use of their username and password as well as keep both a secret. It is the exclusive responsibility of the user to keep its username and password confidential, assuming personal responsibility for any activities carried out or that take place through use thereof.
        </p>
        <p class="text-desc__p">
            The User may cancel and deactivate their registration at any time using their username or password. The User recognizes and accepts that VERDEX AGRO reserves the right to cancel registrations that remain inactive during a reasonable period of time.
        </p>
        <p class="text-desc__p mgt-20">
            <span class="bold">VI.- INTELLECTUAL AND INDUSTRIAL PROPERTY</span>
        </p>
        <p class="text-desc__p">
            All the Content of this Website (understanding this to be the texts, photographs, graphics, images, icons, technology, software, links and other audiovisual or sound content as well as graphic design and source codes) are intellectual property of VERDEX AGRO or of third parties, without transferring to the User any of the exploitation rights recognized by the regulations in force on intellectual property corresponding thereto, except for those that are strictly necessary for use of the Website.
        </p>
        <p class="text-desc__p">
            The trademarks, commercial names or distinctive signs are owned by VERDEX AGRO or third parties, and access to the Website may not be understood as attributing any rights to said trademarks, commercial names and/or distinctive signs.
        </p>
        <p class="text-desc__p mgt-20">
            <span class="bold">VII.- ADDING LINKS TO THE WEBSITE</span>
        </p>
        <p class="text-desc__p">
            Users that want to enter links from their own websites to the Website must comply with the conditions described below; ignorance of which does not constitute an excuse to prevent legal liabilities;
        </p>
        <p class="text-desc__p">
            The link will only connect to the Website’s home page, without reproducing it in any manner (online links, copy of the texts, graphics, etc.).
        </p>
        <p class="text-desc__p">
            In accordance with the applicable legislation in force at all times and under all circumstances, it is forbidden to establish frames of any type that may envelop the Website or permit display of its Content via Internet addresses other than those of the Website itself and, in any case, when its content is displayed in conjunction with content that does not belong to the Website in such a way that:
        </p>
        <p class="text-desc__p">
            (I)<br>causes, or potentially cause, error, confusion or deceit among Users as to the true origin of the service or Content;<br> (II)<br>constitute an act of unfair comparison or imitation; (III) exploit the reputation and prestige of the VERDEX AGRO brand; or (IV) incur in any other form of activity forbidden by the legislation in force.
        </p>
        <p class="text-desc__p">
            The page bearing the link may not incur in any type of false, inaccurate, or incorrect statement about VERDEX AGRO, its partners, employees or clients, or the quality of the services it provides.
        </p>
        <p class="text-desc__p">

        </p>
        <p class="text-desc__p">
            Under no circumstances will the page bearing the link state that VERDEX AGRO has given its consent to the use of the link or that it otherwise sponsors, collaborates with, verifies, or supervises the services of the sender.
        </p>
        <p class="text-desc__p">
            The use of any word trademark, graphic symbol or combined text and symbol or any other distinctive sign of VERDEX AGRO within the sender’s web page is forbidden, except for those cases permitted by Law or expressly authorized by VERDEX AGRO, and as long as permitted, in case of which using a direct link to the Website in the manner established in this section.
        </p>
        <p class="text-desc__p">
            The page with the link must faithfully comply with the law and may under no condition contain or link content, whether belonging to this page or to those of third parties that:
        </p>
        <p class="text-desc__p">

        </p>
        <p class="text-desc__p">
            (I)<br>are illicit, harmful or contrary to morality or decency (pornography, violence, racism, etc.);<br>(II)<br>actually or potentially create the false impression that VERDEX AGRO subscribes, endorses, adheres to or otherwise supports the ideas, statements or expressions, whether illicit or otherwise, made by the sender;<br>(III)<br>are inappropriate for or not pertinent to the activity of VERDEX AGRO by virtue of the location, content, or theme of the sender’s website.
        </p>
        <p class="text-desc__p mgt-20">
            <span class="bold">VIII.- LIMITATION OF LIABILITY </span>
        </p>
        <p class="text-desc__p">
            VERDEX AGRO makes every effort to avoid any errors regarding the Website’s content but does not guarantee or accept responsibility for possible errors in the Website’s content.
        </p>
        <p class="text-desc__p">
            VERDEX AGRO accepts no responsibility for any damages or losses of any kind derived from:
        </p>
        <ul>
            <li>
                <p class="text-desc__p">
                    Interruption of service or problems accessing the Website.
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    The User’s privacy and security when using the Website and/or non-consented access by unauthorized third parties.
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Unauthorized access and modification of the data stored and transmitted through the Website or the provision of such services.
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Possible transmission of elements that negatively affect the computer systems.
                </p>
            </li>
            <li>
                <p class="text-desc__p">
                    Accuracy, thoroughness, and timely updates of the Website’s content.
                </p>
            </li>
        </ul>
        <p class="text-desc__p">
            VERDEX AGRO expressly rejects any responsibility for error or omission of the information found on the Website as well as for the Content’s accuracy, correctness, thoroughness, relevance or up-to-datedness.
        </p>
        <p class="text-desc__p">
            Access service to the Website includes technical linking devices, directories and even search instruments that permit the User to access other Internet pages and portals (hereinafter, “Linked Sites”). In these cases, VERDEX AGRO acts as the provider of intermediation services in accordance with article 17 of Act 34/2003, of July 12, on Information Society Service and Electronic Commerce (LSSI) and is only liable for the content and services provided on the Linked Sites to the extent that it held effective knowledge of the illegality and did not deactivate the link with due diligence. If the Users believe that a Linked Site contains illegal or inappropriate content, they may notify VERDEX AGRO in accordance with the procedures established in clause 6, without said notification requiring the removal of said link.
        </p>
        <p class="text-desc__p">
            Under no circumstances does the existence of Linked Sites mean that agreements exist with the owners or managers thereof, or the recommendation, promotion or identification on the part of VERDEX AGRO with the statements, content or services rendered.
        </p>
        <p class="text-desc__p">
            VERDEX AGRO does not know the Linked Sites’ content or services; and, therefore, it is not responsible for damages caused by illegality, quality, outdatedness, unavailability, error, or uselessness of the Linked Sites’ content and/or services or any other damages that are not directly attributable to VERDEX AGRO
        </p>
        <p class="text-desc__p mgt-20">
            <span class="bold">IX.- VALIDITY OF THE GENERAL CONDITIONS AND MODIFICATION THEREOF</span>
        </p>
        <p class="text-desc__p">
            The legal relationship derived from the access and use of the Website as well as the Content and Services contained therein, has an indefinite duration. Likewise, any of the parties may unilaterally terminate or suspend this contractual relationship at any time with no more cause than their mere will to do so.
        </p>
        <p class="text-desc__p">
            The Conditions contained in this Legal Notice are effective from the date of its latest version and may be modified by VERDEX AGRO at any time and without prior notice, in which case the new modifications will enter into force on said day and will be applicable to all users.
        </p>
        <p class="text-desc__p mgt-20">
            <span class="bold">X.- LAW AND JURISDICTION</span>
        </p>
        <p class="text-desc__p">
            The General Conditions will be governed and interpreted by current Czech law.<br><br>Unless otherwise required by law, the parties submit to the Courts and Tribunals of the city of Ostrava (Czech Republic) for the interpretation or implementation of the provisions contained in the General Conditions, expressly waiving any other jurisdictions they may be entitled to. Should any of the clauses herein be declared invalid, the remaining clauses will continue to be valid and will be interpreted by taking into account the will of the parties and purposes of the clauses.<br><br><br><span class="bold">This policy replaces all previous versions and is correct as of April 2024. We reserve the right to change the policy at any time.</span>
        </p>
    </div>
</div>