<div class="body-container" *ngIf="lang == 'en'">
    <div class="body-blog-container">
        <p class="body-blog-container__p">BLOG</p>
        <div class="body-blog-items">
            <div class="body-blog-items-item dark">
                <div class="item-image-dark">
                    <img src="../../../../assets/blog/main-body/blog_item_img1.png" alt="" class="item-image-dark__img">
                </div>
                <p class="body-blog-dark-item__p">
                    ZEOLITE CLINOPTILOLITE MODUS OPERANDI
                </p>
                <p class="body-blog-dark-item__p2">
                    Zeolite clinoptilolite sedimentary rock comes from a family of microporous, crystalline aluminosilicate minerals. Find out about how zeolite’s attributes yield positive impact on agriculture.
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="body-blog-dark-item__a">Read More</a>
            </div>
            <div class="body-blog-items-item green">
                <div class="item-image-green">
                    <img src="../../../../assets/blog/main-body/blog_item_img1_green.png" alt="" class="item-image-green__img">
                </div>
                <div class="items_p_a">
                    <p class="body-blog-green-item__p">
                        IMPROVE SOIL QUALITY WITH VITALAND 
                    </p>
                    <p class="body-blog-green-item__p2">
                        Are you seeking a long-term solution to improving nutrient availability and the quality of your soil? Introducing VitaLAND, a universal soil conditioner mineral complex granulate.
                    </p>
                    <a routerLink="/{{lang}}/blog/soil" class="body-blog-green-item__a">Read More</a>
                </div>
            </div>
            <div class="body-blog-items-item dark">
                <div class="item-image-dark">
                    <img src="../../../../assets/blog/main-body/blog_item_img2.png" alt="" class="item-image-dark__img">
                </div>
                <p class="body-blog-dark-item__p">
                    THE IMPORTANCE OF CALCIUM
                </p>
                <p class="body-blog-dark-item__p2">
                    Calcium is an essential nutrient that is indispensable for healthy plant growth and development. It is therefore imperative to be mindful of the risks posed by its deficiency.
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="body-blog-dark-item__a">Read More</a>
            </div>
            <div class="body-blog-items-item green">
                <div class="item-image-green">
                    <img src="../../../../assets/blog/main-body/blog_item_img2_green.png" alt="" class="item-image-green__img">
                </div>
                <div class="items_p_a">
                    <p class="body-blog-green-item__p">
                        THE ROLE OF MINERAL NUTRITION IN PLANTS
                    </p>
                    <p class="body-blog-green-item__p2">
                        Understanding the role of essential minerals in the growth and development of plants is pivotal to unlocking their full potential. Learn more about how we can help on your plantation.
                    </p>
                    <a routerLink="/{{lang}}/blog/nutrition" class="body-blog-green-item__a">Read More</a>
                </div>
            </div>
            <div class="body-blog-items-item dark">
                <div class="item-image-dark">
                    <img src="../../../../assets/blog/main-body/blog_item_img3.png" alt="" class="item-image-dark__img">
                </div>
                <p class="body-blog-dark-item__p">
                    WHY SHOULD FARMERS USE VITACALCITE
                </p>
                <p class="body-blog-dark-item__p2">
                    With an effective solution in the form of VitaCALCITE plant booster at hand, you have all of your plants’ micronutrient needs covered. Discover how VitaCALCITE helps stimulate your plant production.
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="body-blog-dark-item__a">Read More</a>
            </div>
            <div class="body-blog-items-item green">
                <div class="item-image-green">
                    <img src="../../../../assets/blog/main-body/blog_item_img3_green.png" alt="" class="item-image-green__img">
                </div>
                <div class="items_p_a">
                    <p class="body-blog-green-item__p">
                        WHY CONSIDER ORGANIC AGRICULTURE
                    </p>
                    <p class="body-blog-green-item__p2">
                        Organic agriculture isn't just a trend; it's a transformation. Explore the key reasons behind this shift, from soil viability to animal welfare, with the support of our mineral bio stimulants.
                    </p>
                    <a routerLink="/{{lang}}/blog/agriculture" class="body-blog-green-item__a">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body-products" id="products">
        <p class="body-products__p">
            EXPLORE OUR PRODUCTS
        </p>
        <div class="body-products-items">
            <div class="body-products-items-item">
                <img src="../../../../assets/main-page/body/white/product1_white.png" alt="" class="product-item__img">
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaCALCITE
                    </p>
                    <p class="products-item-centered__p2">
                        100% natural plant growth supplement based on foliar application. Provides essential plant support by efficient supply of calcium, silicon, and other trace elements.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitacalcite" class="link_arrow__a">
                            ...                      
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item">
                <img src="../../../../assets/main-page/body/white/product2_white.png" alt="" class="product-item__img">
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaLAND
                    </p>
                    <p class="products-item-centered__p2">
                        100% natural soil conditioner developed as a long-term solution to improving water management, moisture regulation, nutrient uptake, and overall soil quality.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitaland" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item">
                <img src="../../../../assets/main-page/body/white/product3_white.png" alt="" class="product-item__img">
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaXORB
                    </p>
                    <p class="products-item-centered__p2">
                        100% natural feed additive optimizes the animal immune system by acting on epithelial cells and probiotic bacteria, leading to higher production efficiency at lower costs.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitaxorb" class="link_arrow__a">
                            ...                          
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item">
                <img src="../../../../assets/main-page/body/white/product4_white.png" alt="" class="product-item__img">
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaYIELD
                    </p>
                    <p class="products-item-centered__p2">
                        100% natural plant fertilizer that harnesses the power of organic ingredients with stimulating properties to support plant processes in favor of higher yield and quality.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitayield" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-container" *ngIf="lang == 'cz'">
    <div class="body-blog-container">
        <p class="body-blog-container__p">BLOG</p>
        <div class="body-blog-items">
            <div class="body-blog-items-item dark">
                <div class="item-image-dark">
                    <img src="../../../../assets/blog/main-body/blog_item_img1.png" alt="" class="item-image-dark__img">
                </div>
                <p class="body-blog-dark-item__p">
                    ZEOLIT KLINOPTILOLIT – FUNKCE A VYUŽITÍ 
                </p>
                <p class="body-blog-dark-item__p2">
                    Zeolit je sedimentární hornina, která patří do skupiny mikroporézních krystalických hlinitokřemičitanových minerálů. Objevte s námi, jaký přínos mají unikátní vlastnosti zeolitu v zemědělství. 
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="body-blog-dark-item__a">ZJISTIT VÍCE</a>
            </div>
            <div class="body-blog-items-item green">
                <div class="item-image-green">
                    <img src="../../../../assets/blog/main-body/blog_item_img1_green.png" alt="" class="item-image-green__img">
                </div>
                <div class="items_p_a">
                    <p class="body-blog-green-item__p">
                        ZLEPŠENÍ KVALITY PŮDY S VITALANDEM
                    </p>
                    <p class="body-blog-green-item__p2">
                        Hledáte dlouhodobé řešení efektivnější dostupnosti živin a vyšší kvality vaší půdy? Vyzkoušejte VitaLAND – univerzální půdní kondicionér nabízející pestrou škálu výhod. 
                    </p>
                    <a routerLink="/{{lang}}/blog/soil" class="body-blog-green-item__a">ZJISTIT VÍCE</a>
                </div>
            </div>
            <div class="body-blog-items-item dark">
                <div class="item-image-dark">
                    <img src="../../../../assets/blog/main-body/blog_item_img2.png" alt="" class="item-image-dark__img">
                </div>
                <p class="body-blog-dark-item__p">
                    KLÍČOVÁ ROLE VÁPNÍKU
                </p>
                <p class="body-blog-dark-item__p2">
                    Vápník představuje základní stavební živinu nezbytnou pro zdravý růst a vývoj rostlin. Je třeba proto mít neustále na paměti rizika plynoucí z jeho nedostatku. 
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="body-blog-dark-item__a">ZJISTIT VÍCE</a>
            </div>
            <div class="body-blog-items-item green">
                <div class="item-image-green">
                    <img src="../../../../assets/blog/main-body/blog_item_img2_green.png" alt="" class="item-image-green__img">
                </div>
                <div class="items_p_a">
                    <p class="body-blog-green-item__p">
                        PODSTATA MINERÁLNÍ VÝŽIVY V ROSTLINÁCH
                    </p>
                    <p class="body-blog-green-item__p2">
                        Pochopení úlohy základních minerálních látek v kontextu růstu a vývoje rostlin je klíčové pro využití jejich plného potenciálu. Zjistěte více, jak může naše minerální infuze pomáhat i vám. 
                    </p>
                    <a routerLink="/{{lang}}/blog/nutrition" class="body-blog-green-item__a">ZJISTIT VÍCE</a>
                </div>
            </div>
            <div class="body-blog-items-item dark">
                <div class="item-image-dark">
                    <img src="../../../../assets/blog/main-body/blog_item_img3.png" alt="" class="item-image-dark__img">
                </div>
                <p class="body-blog-dark-item__p">
                    PROČ BY MĚLI FARMÁŘI POUŽÍVAT VITACALCITE
                </p>
                <p class="body-blog-dark-item__p2">
                    VitaCALCITE rostlinný posilovač představuje účinný nástroj, který vašim rostlinám zajistí spolehlivý přísun minerální výživy pozitivně ovlivňující růst a fyziologii rostlin či plodin. 
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="body-blog-dark-item__a">ZJISTIT VÍCE</a>
            </div>
            <div class="body-blog-items-item green">
                <div class="item-image-green">
                    <img src="../../../../assets/blog/main-body/blog_item_img3_green.png" alt="" class="item-image-green__img">
                </div>
                <div class="items_p_a">
                    <p class="body-blog-green-item__p">
                        PROČ EKOLOGICKÉ ZEMĚDĚLSTVÍ?
                    </p>
                    <p class="body-blog-green-item__p2">
                        Ekologické zemědělství není jen sezónním trendem, ale je to komplexní změna. Prozkoumejte jeho výhody a příslib do budoucna ruku v ruce s naší udržitelnou řadou minerálních hnojiv.
                    </p>
                    <a routerLink="/{{lang}}/blog/agriculture" class="body-blog-green-item__a">ZJISTIT VÍCE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body-products" id="products">
        <p class="body-products__p">
            PROZKOUMEJTE NAŠE PRODUKTY
        </p>
        <div class="body-products-items">
            <div class="body-products-items-item">
                <img src="../../../../assets/main-page/body/white/product1_white.png" alt="" class="product-item__img">
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaCALCITE
                    </p>
                    <p class="products-item-centered__p2">
                        100% přírodní doplněk pro růst rostlin na bázi listové aplikace. Dodává rostlinám nezbytnou podporu skrze efektivní přísun vápníku, křemíku a dalších stopových prvků.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitacalcite" class="link_arrow__a">
                            ...                      
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item">
                <img src="../../../../assets/main-page/body/white/product2_white.png" alt="" class="product-item__img">
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaLAND
                    </p>
                    <p class="products-item-centered__p2">
                        100% přírodní půdní kondicionér vyvinutý pro dlouhodobézlepšování hospodaření s vodou, regulace vlhkosti, příjmu živin a celkové kvality půdy.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitaland" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item">
                <img src="../../../../assets/main-page/body/white/product3_white.png" alt="" class="product-item__img">
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaXORB
                    </p>
                    <p class="products-item-centered__p2">
                        100% přírodní krmná přísada optimalizuje imunitní systém zvířat skrze působení na epitelové buňky a probiotické bakterie, což vede k vyšší efektivitě produkce při nižších nákladech.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitaxorb" class="link_arrow__a">
                            ...                          
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item">
                <img src="../../../../assets/main-page/body/white/product4_white.png" alt="" class="product-item__img">
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaYIELD
                    </p>
                    <p class="products-item-centered__p2">
                        100% přírodní rostlinné hnojivo, které využívá sílu organických složek se stimulačními vlastnostmi k podpoře rostlinných procesů ve prospěch vyššího výnosu a kvality.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitayield" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>