/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --swiper-navigation-color: #97C06B;
    --swiper-theme-color: #97C06B !important;
}

:host {
    --swiper-theme-color: #97C06B;
}

.body {
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}