<app-header product="calcite" (id)="scrollFN($event)"></app-header>
<div class="body" *ngIf="lang == 'en'">
    <div class="body-calcite-desc-container" id="description">
        <div class="body-calcite-desc-image">
            <img src="../../../assets/product/calcite/product_calcite-body.png" alt="" #descImg>
        </div>
        <div class="body-calcite-desc-titles">
            <p class="body-calcite-desc-titles__p1">
                DESCRIPTION
            </p>
            <p class="body-calcite-desc-titles__p2">
                Vita<span>CALCITE</span> is a 100% natural plant growth supplement based on foliar application which delivers reliable supply of calcium (Ca), silicon (Si), and other trace elements (Mg, Zn, Cu, Fe, Mo) exactly where it is most needed – to the leaves and in a form readily recognizable for plants to build amino acids.
                <br>
                <br>
                Vita<span>CALCITE</span> functions as an effective source of bioavailable calcium and orthosilicic acid; whereas calcium favors effective chloroplast protein transport and higher photosynthetic activity manifest in greater nutrient uptake and yield, silicon mitigates biotic and abiotic stressors and offers a rigid barrier in the face of pests, ensuring good health of your plant and preventing declining yields.
            </p>
        </div>
    </div>
    <div class="body-properties-container" id="properties">
        <div class="properties_bg">
            <p class="properties__p">
                PHYSICAL PROPERTIES
            </p>
            <div class="properties-about">
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        95%
                    </p>
                    <p class="properties-about-text__p1">
                        CALCIUM CARBONATE
                    </p>
                </div>
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        3 - 12 ųm
                    </p>
                    <p class="properties-about-text__p1">
                        PARTICLE SIZE
                    </p>
                </div>
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        6.0 - 8.0
                    </p>
                    <p class="properties-about-text__p1">
                        PH VALUE
                    </p>
                </div>
            </div>
            <div class="properties-about">
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        0.014 g/l
                    </p>
                    <p class="properties-about-text__p1">
                        WATER SOLUBILITY
                    </p>
                </div>
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        2.5 - 2.8 g/cm&#179;
                    </p>
                    <p class="properties-about-text__p1">
                        DENSITY
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="body-benefits-container" id="benefits">
        <p class="benefits__p">
            BENEFITS
        </p>
        <div class="benefits-items">
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Reliable supply of bio-available calcium and silicon via leaf pore openings
                </p>
                <div class="img-wrap">
                    <svg class="benefits-items-item__img" width="100%" height="100%" viewBox="0 0 552 489" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                        <g transform="matrix(1,0,0,1,-199122,-134821)">
                            <g id="_01" serif:id="01">
                            </g>
                            <g id="_011" serif:id="01">
                            </g>
                            <g id="_012" serif:id="01">
                            </g>
                            <g id="_013" serif:id="01">
                            </g>
                            <g id="Artboard35" transform="matrix(1.26759,0,0,1.11837,111217,88933.3)">
                                <rect x="69348" y="41030.7" width="435.19" height="436.441" style="fill:none;"/>
                                <g transform="matrix(1.25356,0,0,1.52715,67163,40308)">
                                    <g>
                                        <g transform="matrix(0.776928,-0.0229659,0.0246844,0.722838,-34.3174,-129.971)">
                                            <g transform="matrix(45.8333,0,0,45.8333,2504.27,1194.88)">
                                            </g>
                                            <text x="2459.58px" y="1194.88px" style="font-family:'Comfortaa-SemiBold', 'Comfortaa';font-weight:600;font-size:45.833px;fill:white;">Si</text>
                                        </g>
                                        <g transform="matrix(0.777176,-0.0139185,0.01496,0.723069,-86.2073,-249.929)">
                                            <g transform="matrix(45.8333,0,0,45.8333,2515.03,1191.95)">
                                            </g>
                                            <text x="2450.41px" y="1191.95px" style="font-family:'Comfortaa-SemiBold', 'Comfortaa';font-weight:600;font-size:45.833px;fill:white;">C<tspan x="2484.05px " y="1191.95px ">a</tspan></text>
                                        </g>
                                        <g transform="matrix(0.777313,0.0030009,-0.00322545,0.723196,58.7785,-292.085)">
                                            <g transform="matrix(45.8333,0,0,45.8333,2520.71,1191.95)">
                                            </g>
                                            <text x="2444.72px" y="1191.95px" style="font-family:'Comfortaa-SemiBold', 'Comfortaa';font-weight:600;font-size:45.833px;fill:white;">Mg</text>
                                        </g>
                                        <g transform="matrix(0.926373,-0.187318,0.201336,0.861879,-2743.77,920.132)">
                                            <g transform="matrix(1.20548,0.259655,-0.259655,1.20548,3872.92,-13169.3)">
                                                <path d="M3117.83,10723.3L3170.56,10753L3170.56,10812.4L3117.83,10842.1L3065.11,10812.4L3065.11,10753L3117.83,10723.3Z" style="fill:none;stroke:white;stroke-width:6.76px;"/>
                                            </g>
                                            <g transform="matrix(1.20548,0.259655,-0.259655,1.20548,3999.28,-13143.1)">
                                                <path d="M3117.83,10723.3L3170.56,10753L3170.56,10812.4L3117.83,10842.1L3065.11,10812.4L3065.11,10753L3117.83,10723.3Z" style="fill:none;stroke:white;stroke-width:6.76px;"/>
                                            </g>
                                            <g transform="matrix(1.20548,0.259655,-0.259655,1.20548,3914.24,-13048.1)">
                                                <path d="M3117.83,10723.3L3170.56,10753L3170.56,10812.4L3117.83,10842.1L3065.11,10812.4L3065.11,10753L3117.83,10723.3Z" style="fill:none;stroke:white;stroke-width:6.76px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1712.3,-10142.9)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1768.5,-10092)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,-3.58468e-17,-5.13772e-17,1,1839.81,-10112)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,-6.36024e-17,-9.58557e-17,1,1891.94,-10066.7)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,-6.36024e-17,-1.40334e-16,1,1877.64,-9994.22)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1807.24,-9969.42)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1791.13,-9898.39)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1719.64,-9875.13)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1663.79,-9927.06)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1751.87,-10019.7)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1679.76,-9997.46)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1624.97,-10048.6)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1640.7,-10121.2)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Accelerated biosynthesis of main plant products – starch, cellulose, lignin, proteins, lipids, etc.
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img2.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Increased biosynthesis of secondary plant metabolites – terpenes, flavonoids, vitamins, auxins, etc.
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img3.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Higher resistance in the face of environmental stressors – heat and hydro-stress.
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img4.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Increased resistance to plant diseases (fungi in particular) and pests
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img5.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Significant improvement to uptake and utilization of nutrients from common fertigation
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img6.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
        </div>
    </div>
    <div class="body-composition-container" id="composition" *ngIf="current_width > 1110">
        <div class="composition-title">
            <p class="composition-title__p">
                COMPOSITION
            </p>
            <p class="composition-title__p1">
                Vita<span>CALCITE</span> is derived from a natural deposit rock composed of calcite (calcium carbonate), quartz (silicon dioxide), and other calcite related minerals such as dolomite [magnesium calcium carbonate; (CaMg(CO&#8323;)&#8322;) and ankerite [calcium iron magnesium manganese carbonate; (CaM(CO&#8323;)&#8322;) where M = Mn, Zn, Fe]. 
                <br>
                <br>
                It contains micronized natural calcium (average particle size of 5 ųm) produced through our advanced Enhanced Dynamic Activation (EDA) technology. Microbial size allows the water dissolved Vita<span>CALCITE</span> to be absorbed directly by target plant/crop where the various nutrients (Ca&#8322;&#8314;, HCO&#8323;&#8315;, Mg&#8322;&#8314;, etc.) diffuse, resp. they reach the leaves inside cells.
            </p>
        </div>
        <div class="composition-image">
            <img src="../../../assets/product/calcite/product_calcite_composition.png" alt="" class="composition-image__img" #compose>
        </div>
    </div>
    <div class="body-composition-container" id="composition" *ngIf="current_width <= 1110">
        <div class="composition-title">
            <p class="composition-title__p">
                COMPOSITION
            </p>
            <p class="composition-title__p1">
                Vita<span>CALCITE</span> is derived from a natural deposit rock composed of calcite (calcium carbonate), quartz (silicon dioxide), and other calcite related minerals such as dolomite [magnesium calcium carbonate; (CaMg(CO&#8323;)&#8322;) and ankerite [calcium iron magnesium manganese carbonate; (CaM(CO&#8323;)&#8322;) where M = Mn, Zn, Fe]. 
                <br>
            </p>    
                <div class="composition-image">
                    <img src="../../../assets/product/calcite/product_calcite_composition.png" alt="" class="composition-image__img" #compose> 
                </div>
            <p class="composition-title__p1">    
                <br>
                It contains micronized natural calcium (average particle size of 5 ųm) produced through our advanced Enhanced Dynamic Activation (EDA) technology. Microbial size allows the water dissolved Vita<span>CALCITE</span> to be absorbed directly by target plant/crop where the various nutrients (Ca&#8322;&#8314;, HCO&#8323;&#8315;, Mg&#8322;&#8314;, etc.) diffuse, resp. they reach the leaves inside cells.
            </p>
        </div>
    </div>
    <div class="body-usage-bg" id="history">
        <div class="body-usage-container">
            <p class="body-usage__p">
                SUCCESS STORIES
            </p>
            <div class="body-usage-items">
                <div class="usage-items-item" #rect>
                    <div class="usage-item-rectangle">
                        <div class="rect-text">
                            <p class="rect-text__p">
                                +12%
                            </p>
                            <p class="rect-text__p1">
                                SUGAR BEET
                            </p>
                        </div>
                    </div>
                    <p class="usage-item__p">
                        Higher sugar content, higher leaf density and quality, lower pesticide consumption
                    </p>
                </div>
                <div class="usage-items-item" #rect>
                    <div class="usage-item-rectangle">
                        <div class="rect-text">
                            <p class="rect-text__p">
                                +10%
                            </p>
                            <p class="rect-text__p1">
                                WHEAT
                            </p>
                        </div>
                    </div>
                    <p class="usage-item__p">
                        Higher protein content, stronger husks and stalks, lower incidence of mold and brown rust 
                    </p>
                </div>
                <div class="usage-items-item" #rect>
                    <div class="usage-item-rectangle">
                        <div class="rect-text">
                            <p class="rect-text__p">
                                +18%
                            </p>
                            <p class="rect-text__p1">
                                CUCUMBER
                            </p>
                        </div>
                    </div>
                    <p class="usage-item__p">
                        Higher sugar content, better fruit shape and quality, extended shelf life
                    </p>
                </div>
                <div class="usage-items-item" #rect>
                    <div class="usage-item-rectangle">
                        <div class="rect-text">
                            <p class="rect-text__p">
                                +10%
                            </p>
                            <p class="rect-text__p1">
                                GRAPEVINE
                            </p>
                        </div>
                    </div>
                    <p class="usage-item__p">
                        Stronger leaf canopy, firmer fruit bunches, thicker fruit skins, lower disease pressure
                    </p>
                </div>
            </div>
            <div class="usage-value-container">
                <p class="usage-value__p">
                    YOUR ADDED VALUE
                </p>
                <div class="usage-value-items">
                    <div class="value-items-item h-40">
                        <p class="value-item__p">
                            Environmentally friendly and easy to use product
                        </p>
                    </div>
                    <div class="value-items-item h-50">
                        <p class="value-item__p">
                            Facilitating sustainable acceleration of plant and crop growth
                        </p>
                    </div>
                    <div class="value-items-item h-60">
                        <p class="value-item__p">
                            Mitigating disease and pest impact enabling for savings on pesticides
                        </p>
                    </div>
                    <div class="value-items-item h-70">
                        <p class="value-item__p">
                            Boosting resistance to environmental stress preventing diminishing returns
                        </p>
                    </div>
                    <div class="value-items-item h-80">
                        <p class="value-item__p">
                            Delivering between 10-50% yield increase and secondary savings manifest in substantial financial surplus
                        </p>
                    </div>
                    <div class="value-items-item final-item">
                        <p class="value-item__p">
                            Economic returns average exceeds manifold the cost of implementing
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-summary-container" id="app">
        <div class="summary-text">
            <p class="summary-text__p">
                APPLICATION & USAGE
            </p>
            <p class="summary-text__p1 mgb-15">
                Vita<span>CALCITE</span> is applied via foliar spray across the leaves of the plant as a 0,3% - 0,5% aqueous solution. This rate usually corresponds to 1,5 - 3kg of product mixed in approximately 200 to 400 liters of water (per ha).
            </p>
            <ul class="mgb-25">
                <li>
                    <p class="p-li">
                        <span>Orchards and vineyards</span>: 2 – 2,5 kg/ha
                    </p>
                </li>
                <li>
                    <p class="p-li">
                        <span>Vegetable gardens</span>: 1,5 kg/ha
                    </p>
                </li>
                <li>
                    <p class="p-li">
                        <span>Smaller surfaces</span>: 1 teaspoon (≈ 5g) in 1l of water
                    </p>
                </li>
            </ul>
            <p class="summary-text__p1">
                In general, the first application is deployed at the beginning of the vegetative period in leaf sprout (minimum of 2 leaves) and then every 10 - 14 days up to a total of 2 - 5 applications. Discontinue 1 month before the end of the growing season. 
            </p>
        </div>
        <div class="summary-image" #summaryImg>
            <div class="image-warp">
                <img src="../../../assets/product/calcite/summary/product-calcite_summary.svg" alt="" class="summary-image__img">
            </div>
        </div>
    </div>
    <div class="body-documents-container" id="documents">
        <p class="documents__p">
            PRODUCT DOCUMENTS
        </p>
        <div class="documents-buttons">
            <a target="_blank" href="../../../assets/product/calcite/documents/CALCITE_datasheet.pdf" class="documents-buttons__btn" (click)="sendSheets()">VitaCALCITE DATASHEET</a>
            <a target="_blank" href="../../../assets/product/calcite/documents/VitaCALCITE_VitaLAND_presentation_EN.pdf" data-fancybox="gallery" class="documents-buttons__btn" (click)="sendPresenter()">VitaCALCITE PRESENTER</a>
            <a target="_blank" href="../../../assets/product/calcite/documents/CALCITE_OMRI.pdf" class="documents-buttons__btn" (click)="sendOMRI()">OMRI CERTIFICATE</a>
            <a target="_blank" href="../../../assets/product/calcite/documents/CALCITE_FiBL.pdf" class="documents-buttons__btn" (click)="sendFIBL()">FIBL CERTIFICATE</a>
        </div>
    </div>
    <div class="body-sertificate">
        <div class="body-sertificate-bg">
            <div class="body-sertificate-items">
                <div class="body-sertificate-items-item">
                    <img src="../../../../assets/main-page/verdexagro_omri.svg" alt="">
                    
                </div>
                <div class="body-sertificate-items-item">
                    <img src="../../../../assets/main-page/verdexagro_fibl.svg" alt="">
                    
                </div>
                <div class="body-sertificate-items-item">
                    <img src="../../../../assets/main-page/verdexagro_ukzuz.svg" alt="">
                    
                </div>
                <div class="body-sertificate-items-item">
                    <img src="../../../../assets/main-page/verdexagro_demeter.svg" alt="">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="body-products">
        <p class="body-products__p">
            EXPLORE OUR OTHER PRODUCTS
        </p>
        <div class="body-products-items">
            <div class="body-products-items-item" #product>
                <div class="product-image-wrap">
                    <img src="../../../../assets/main-page/body/white/product2_white.png" alt="" class="product-item__img">
                </div>
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaLAND
                    </p>
                    <p class="products-item-centered__p2">
                        100% natural soil conditioner developed as a long-term solution to improving water management, moisture regulation, nutrient uptake, and overall soil quality.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitaland" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item" #product>
                <div class="product-image-wrap">
                    <img src="../../../../assets/main-page/body/white/product3_white.png" alt="" class="product-item__img">
                </div>
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaXORB
                    </p>
                    <p class="products-item-centered__p2">
                        100% natural feed additive optimizes the animal immune system by acting on epithelial cells and probiotic bacteria, leading to higher production efficiency at lower costs. 
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitaxorb" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item" #product>
                <div class="product-image-wrap">
                    <img src="../../../../assets/main-page/body/white/product4_white.png" alt="" class="product-item__img">
                </div>
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaYIELD
                    </p>
                    <p class="products-item-centered__p2">
                        100% natural plant fertilizer that harnesses the power of organic ingredients with stimulating properties to support plant processes in favor of higher yield and quality.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitayield" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class="body" *ngIf="lang == 'cz'">
    <div class="body-calcite-desc-container" id="description">
        <div class="body-calcite-desc-image">
            <img src="../../../assets/product/calcite/product_calcite-body.png" alt="" #descImg>
        </div>
        <div class="body-calcite-desc-titles">
            <p class="body-calcite-desc-titles__p1">
                POPIS
            </p>
            <p class="body-calcite-desc-titles__p2">
                Vita<span>CALCITE</span> je 100% přírodní doplněk pro listovou aplikaci, který podporuje růst rostlin tím, že jim spolehlivě dodává vápník (Ca), křemík (Si) a další stopové prvky (Mg, Zn, Cu, Fe, Mo) přesně tam, kde jsou nejvíce potřeba – do listů a ve formě, kterou rostliny snadno rozpoznají, aby mohly vytvářet aminokyseliny.
                <br>
                <br>
                Vita<span>CALCITE</span> funguje jako účinný zdroj biologicky dostupného vápníku a kyseliny ortokřemičité. Zatímco vápník podporuje efektivní transport bílkovin chloroplastů a vyšší fotosyntetickou aktivitu, jež se projevuje větším vstřebáváním živin i množstvím plodů, křemík zmírňuje biotické a abiotické stresory a poskytuje pevnou bariéru proti škůdcům, čímž zajišťuje dobré zdraví vašim rostlinám a zabraňuje poklesu sklizně.
            </p>
        </div>
    </div>
    <div class="body-properties-container" id="properties">
        <div class="properties_bg">
            <p class="properties__p">
                FYZIOLOGICKO-CHEMICKÉ VLASTNOSTI
            </p>
            <div class="properties-about">
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        95%
                    </p>
                    <p class="properties-about-text__p1">
                        UHLIČITAN VÁPENATÝ (CACO&#8323;)
                    </p>
                </div>
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        3 - 12 ųm
                    </p>
                    <p class="properties-about-text__p1">
                        VELIKOST ČÁSTIC
                    </p>
                </div>
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        6.0 - 8.0
                    </p>
                    <p class="properties-about-text__p1">
                        HODNOTA pH
                    </p>
                </div>
            </div>
            <div class="properties-about">
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        0.014 g/l
                    </p>
                    <p class="properties-about-text__p1">
                        ROZPUSTNOST VE VODĚ
                    </p>
                </div>
                <div class="properties-about-text">
                    <p class="properties-about-text__p">
                        2.5 - 2.8 g/cm&#179;
                    </p>
                    <p class="properties-about-text__p1">
                        SPECIFICKÁ HMOTNOST
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="body-benefits-container" id="benefits">
        <p class="benefits__p">
            VÝHODY
        </p>
        <div class="benefits-items">
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Spolehlivý přísun biologicky dostupného vápníku a křemíku skrze otvory listových pórů.
                </p>
                <div class="img-wrap">
                    <svg class="benefits-items-item__img" width="100%" height="100%" viewBox="0 0 552 489" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                        <g transform="matrix(1,0,0,1,-199122,-134821)">
                            <g id="_01" serif:id="01">
                            </g>
                            <g id="_011" serif:id="01">
                            </g>
                            <g id="_012" serif:id="01">
                            </g>
                            <g id="_013" serif:id="01">
                            </g>
                            <g id="Artboard35" transform="matrix(1.26759,0,0,1.11837,111217,88933.3)">
                                <rect x="69348" y="41030.7" width="435.19" height="436.441" style="fill:none;"/>
                                <g transform="matrix(1.25356,0,0,1.52715,67163,40308)">
                                    <g>
                                        <g transform="matrix(0.776928,-0.0229659,0.0246844,0.722838,-34.3174,-129.971)">
                                            <g transform="matrix(45.8333,0,0,45.8333,2504.27,1194.88)">
                                            </g>
                                            <text x="2459.58px" y="1194.88px" style="font-family:'Comfortaa-SemiBold', 'Comfortaa';font-weight:600;font-size:45.833px;fill:white;">Si</text>
                                        </g>
                                        <g transform="matrix(0.777176,-0.0139185,0.01496,0.723069,-86.2073,-249.929)">
                                            <g transform="matrix(45.8333,0,0,45.8333,2515.03,1191.95)">
                                            </g>
                                            <text x="2450.41px" y="1191.95px" style="font-family:'Comfortaa-SemiBold', 'Comfortaa';font-weight:600;font-size:45.833px;fill:white;">C<tspan x="2484.05px " y="1191.95px ">a</tspan></text>
                                        </g>
                                        <g transform="matrix(0.777313,0.0030009,-0.00322545,0.723196,58.7785,-292.085)">
                                            <g transform="matrix(45.8333,0,0,45.8333,2520.71,1191.95)">
                                            </g>
                                            <text x="2444.72px" y="1191.95px" style="font-family:'Comfortaa-SemiBold', 'Comfortaa';font-weight:600;font-size:45.833px;fill:white;">Mg</text>
                                        </g>
                                        <g transform="matrix(0.926373,-0.187318,0.201336,0.861879,-2743.77,920.132)">
                                            <g transform="matrix(1.20548,0.259655,-0.259655,1.20548,3872.92,-13169.3)">
                                                <path d="M3117.83,10723.3L3170.56,10753L3170.56,10812.4L3117.83,10842.1L3065.11,10812.4L3065.11,10753L3117.83,10723.3Z" style="fill:none;stroke:white;stroke-width:6.76px;"/>
                                            </g>
                                            <g transform="matrix(1.20548,0.259655,-0.259655,1.20548,3999.28,-13143.1)">
                                                <path d="M3117.83,10723.3L3170.56,10753L3170.56,10812.4L3117.83,10842.1L3065.11,10812.4L3065.11,10753L3117.83,10723.3Z" style="fill:none;stroke:white;stroke-width:6.76px;"/>
                                            </g>
                                            <g transform="matrix(1.20548,0.259655,-0.259655,1.20548,3914.24,-13048.1)">
                                                <path d="M3117.83,10723.3L3170.56,10753L3170.56,10812.4L3117.83,10842.1L3065.11,10812.4L3065.11,10753L3117.83,10723.3Z" style="fill:none;stroke:white;stroke-width:6.76px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1712.3,-10142.9)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1768.5,-10092)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,-3.58468e-17,-5.13772e-17,1,1839.81,-10112)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,-6.36024e-17,-9.58557e-17,1,1891.94,-10066.7)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,-6.36024e-17,-1.40334e-16,1,1877.64,-9994.22)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1807.24,-9969.42)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1791.13,-9898.39)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1719.64,-9875.13)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1663.79,-9927.06)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1751.87,-10019.7)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1679.76,-9997.46)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1624.97,-10048.6)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                            <g transform="matrix(1,0,0,1,1640.7,-10121.2)">
                                                <circle cx="3135.63" cy="10708.4" r="17.746" style="fill:rgb(151,192,107);stroke:white;stroke-width:6.25px;"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Urychlená biosyntéza hlavních rostlinných produktů – škrobu, celulózy, ligninu, proteinů, lipidů atd.
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img2.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Zvýšená biosyntéza sekundárních rostlinných metabolitů – terpenů, flavonoidů, vitaminů, auxinů atd.
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img3.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Vyšší odolnost vůči stresovým faktorům vlivem prostředí – horka a nedostatku vody.
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img4.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Vyšší odolnost vůči chorobám rostlin (zejména houbám) a škůdcům.
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img5.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
            <div class="benefits-items-item" #benefit>
                <p class="benefits-items-item__p1">
                    Výrazné zlepšení příjmu a zužitkování živin z běžné fertigace.
                </p>
                <div class="img-wrap">
                    <img src="../../../assets/product/calcite/benefits/benefits_img6.svg" alt="" class="benefits-items-item__img">
                </div>
            </div>
        </div>
    </div>
    <div class="body-composition-container" id="composition" *ngIf="current_width > 1110">
        <div class="composition-title">
            <p class="composition-title__p">
                SLOŽENÍ
            </p>
            <p class="composition-title__p1">
                Vita<span>CALCITE</span> pochází z přírodních ložiskových hornin složených z kalcitu (uhličitanu vápenatého), křemene (oxidu křemičitého) a dalších minerálů příbuzných kalcitu, jako jsou dolomit – uhličitan vápenato-hořečnatý (CaMg(CO&#8323;)&#8322;) a ankerit – uhličitan vápenato-železito-hořečnato-manganový (CaM(CO&#8323;)&#8322;), kde M = Mn, Zn, Fe.
                <br>
                <br>
                Výrobek obsahuje mikronizovaný přírodní vápník (průměrná velikost částic 5 ųm) vyrobený naší pokročilou technologií Enhanced Dynamic Activation (EDA). Mikrobiální velikost umožňuje, aby byl Vita<span>CALCITE</span> rozpuštěný ve vodě absorbován přímo cílovou rostlinou/plodinou, kde dochází k difúzi různých živin (Ca&#178;&#8314;, HCO&#8323;&#8315;, Mg&#8322;&#8314; atd.), resp. aby se dostaly do listů uvnitř buněk.
            </p>
        </div>
        <div class="composition-image">
            <img src="../../../assets/product/calcite/product_calcite_composition.png" alt="" class="composition-image__img" #compose>
        </div>
    </div>
    <div class="body-composition-container" id="composition" *ngIf="current_width <= 1110">
        <div class="composition-title">
            <p class="composition-title__p">
                SLOŽENÍ
            </p>
            <p class="composition-title__p1">
                Vita<span>CALCITE</span> pochází z přírodních ložiskových hornin složených z kalcitu (uhličitanu vápenatého), křemene (oxidu křemičitého) a dalších minerálů příbuzných kalcitu, jako jsou dolomit – uhličitan vápenato-hořečnatý (CaMg(CO&#8323;)&#8322;) a ankerit – uhličitan vápenato-železito-hořečnato-manganový (CaM(CO&#8323;)&#8322;), kde M = Mn, Zn, Fe. 
                <br>
            </p>    
                <div class="composition-image">
                    <img src="../../../assets/product/calcite/product_calcite_composition.png" alt="" class="composition-image__img" #compose> 
                </div>
            <p class="composition-title__p1">    
                <br>
                Výrobek obsahuje mikronizovaný přírodní vápník (průměrná velikost částic 5 ųm) vyrobený naší pokročilou technologií Enhanced Dynamic Activation (EDA). Mikrobiální velikost umožňuje, aby byl Vita<span>CALCITE</span> rozpuštěný ve vodě absorbován přímo cílovou rostlinou/plodinou, kde dochází k difúzi různých živin (Ca&#178;&#8314;, HCO&#8323;&#8315;, Mg&#8322;&#8314; atd.), resp. aby se dostaly do listů uvnitř buněk.
            </p>
        </div>
    </div>
    <div class="body-usage-bg" id="history">
        <div class="body-usage-container">
            <p class="body-usage__p">
                PŘÍKLADY ÚSPĚŠNÉ APLIKACE
            </p>
            <div class="body-usage-items">
                <div class="usage-items-item" #rect>
                    <div class="usage-item-rectangle">
                        <div class="rect-text">
                            <p class="rect-text__p">
                                +12%
                            </p>
                            <p class="rect-text__p1">
                                CUKROVÁ ŘEPA
                            </p>
                        </div>
                    </div>
                    <p class="usage-item__p">
                        Vyšší obsah cukru, vyšší hustota a kvalita listů, nižší spotřeba pesticidů
                    </p>
                </div>
                <div class="usage-items-item" #rect>
                    <div class="usage-item-rectangle">
                        <div class="rect-text">
                            <p class="rect-text__p">
                                +10%
                            </p>
                            <p class="rect-text__p1">
                                PŠENICE
                            </p>
                        </div>
                    </div>
                    <p class="usage-item__p">
                        Vyšší obsah bílkovin, pevnější plevy a stébla, nižší výskyt plísní a hnědé rzi
                    </p>
                </div>
                <div class="usage-items-item" #rect>
                    <div class="usage-item-rectangle">
                        <div class="rect-text">
                            <p class="rect-text__p">
                                +18%
                            </p>
                            <p class="rect-text__p1">
                                OKURKY
                            </p>
                        </div>
                    </div>
                    <p class="usage-item__p">
                        Vyšší obsah cukru, lepší tvar a kvalita plodů, delší trvanlivost
                    </p>
                </div>
                <div class="usage-items-item" #rect>
                    <div class="usage-item-rectangle">
                        <div class="rect-text">
                            <p class="rect-text__p">
                                +10%
                            </p>
                            <p class="rect-text__p1">
                                RÉVA VINNÁ
                            </p>
                        </div>
                    </div>
                    <p class="usage-item__p">
                        Silnější listová koruna, pevnější trsy hroznů, nižší výskyt chorob.
                    </p>
                </div>
            </div>
            <div class="usage-value-container">
                <p class="usage-value__p">
                    PŘIDANÁ HODNOTA
                </p>
                <div class="usage-value-items">
                    <div class="value-items-item h-40">
                        <p class="value-item__p">
                            Ekologicky šetrný a snadno aplikovatelný produkt.
                        </p>
                    </div>
                    <div class="value-items-item h-50">
                        <p class="value-item__p">
                            Usnadnění udržitelného růstu rostlin a plodin.
                        </p>
                    </div>
                    <div class="value-items-item h-60">
                        <p class="value-item__p">
                            Zmírnění negativních dopadů chorob a škůdců, a tím nižší spotřeba pesticidů.
                        </p>
                    </div>
                    <div class="value-items-item h-70">
                        <p class="value-item__p">
                            Zvýšení odolnosti vůči environmentálnímu stresu pro kvalitnější sklizně.
                        </p>
                    </div>
                    <div class="value-items-item h-80">
                        <p class="value-item__p">
                            10–50% navýšení výnosů, které se projevuje výrazným finančním ziskem.
                        </p>
                    </div>
                    <div class="value-items-item final-item">
                        <p class="value-item__p">
                            Ekonomický zisk několikrát převyšující náklady.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-summary-container" id="app">
        <div class="summary-text">
            <p class="summary-text__p">
                APLIKACE A POUŽITÍ
            </p>
            <p class="summary-text__p1 mgb-15">
                Vita<span>CALCITE</span> se aplikuje foliárně postřikem na listy rostliny jako 0,3 %–0,5 % vodný roztok. Tato dávka obvykle odpovídá 1,5–3 kg přípravku rozmíchaného v přibližně 200 až 400 litrech vody (na hektar).
            </p>
            <ul class="mgb-25">
                <li>
                    <p class="p-li">
                        <span>Sady a vinice</span>: 2 – 2,5 kg/ha
                    </p>
                </li>
                <li>
                    <p class="p-li">
                        <span>Zeleninové zahrady</span>: 1,5 kg/ha
                    </p>
                </li>
                <li>
                    <p class="p-li">
                        <span>Menší plochy</span>: 1 čajová lžička (≈ 5 g) v 1 l vody
                    </p>
                </li>
            </ul>
            <p class="summary-text__p1">
                Obecně platí, že se první aplikace nasazuje na začátku vegetace ve fázi rašení listů (minimálně 2 listy) a poté co 10–14 dní až do celkového počtu 2–5 aplikací. Aplikaci přerušte 1 měsíc před koncem vegetačního období.
            </p>
        </div>
        <div class="summary-image" #summaryImg>
            <div class="image-warp">
                <img src="../../../assets/product/calcite/summary/product-calcite_summary.svg" alt="" class="summary-image__img">
            </div>
        </div>
    </div>
    <div class="body-documents-container" id="documents">
        <p class="documents__p">
            DOKUMENTY K PRODUKTŮM
        </p>
        <div class="documents-buttons">
            <a target="_blank" href="../../../assets/product/calcite/documents/cz/CALCITE_produktový_list_cz.pdf" class="documents-buttons__btn" (click)="sendSheets()">VitaCALCITE produktový list</a>
            <a target="_blank" href="../../../assets/product/calcite/documents/cz/VitaCALCITE_VitaLAND_presentation_cz.pdf" class="documents-buttons__btn" (click)="sendPresenter()">VitaCALCITE prezentace</a>
            <a target="_blank" href="../../../assets/product/calcite/documents/CALCITE_OMRI.pdf" class="documents-buttons__btn" (click)="sendOMRI()">CERTIFIKÁT OMRI</a>
            <a target="_blank" href="../../../assets/product/calcite/documents/CALCITE_FiBL.pdf" class="documents-buttons__btn" (click)="sendFIBL()">CERTIFIKÁT FIBL</a>
        </div>
    </div>
    <div class="body-sertificate">
        <div class="body-sertificate-bg">
            <div class="body-sertificate-items">
                <div class="body-sertificate-items-item">
                    <img src="../../../../assets/main-page/verdexagro_omri.svg" alt="">
                    
                </div>
                <div class="body-sertificate-items-item">
                    <img src="../../../../assets/main-page/verdexagro_fibl.svg" alt="">
                    
                </div>
                <div class="body-sertificate-items-item">
                    <img src="../../../../assets/main-page/verdexagro_ukzuz.svg" alt="">
                    
                </div>
                <div class="body-sertificate-items-item">
                    <img src="../../../../assets/main-page/verdexagro_demeter.svg" alt="">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="body-products">
        <p class="body-products__p">
            PROZKOUMEJTE NAŠE DALŠÍ PRODUKTY
        </p>
        <div class="body-products-items">
            <div class="body-products-items-item" #product>
                <div class="product-image-wrap">
                    <img src="../../../../assets/main-page/body/white/product2_white.png" alt="" class="product-item__img">
                </div>
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaLAND
                    </p>
                    <p class="products-item-centered__p2">
                        100% přírodní půdní kondicionér vyvinutý pro dlouhodobézlepšování hospodaření s vodou, regulace vlhkosti, příjmu živin a celkové kvality půdy.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitaland" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item" #product>
                <div class="product-image-wrap">
                    <img src="../../../../assets/main-page/body/white/product3_white.png" alt="" class="product-item__img">
                </div>
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaXORB
                    </p>
                    <p class="products-item-centered__p2">
                        100% přírodní krmná přísada optimalizuje imunitní systém zvířat skrze působení na epitelové buňky a probiotické bakterie, což vede k vyšší efektivitě produkce při nižších nákladech.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitaxorb" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
            <div class="body-products-items-item" #product>
                <div class="product-image-wrap">
                    <img src="../../../../assets/main-page/body/white/product4_white.png" alt="" class="product-item__img">
                </div>
                <div class="products-item-centered">
                    <p class="products-item-centered__p1">
                        VitaYIELD
                    </p>
                    <p class="products-item-centered__p2">
                        100% přírodní rostlinné hnojivo, které využívá sílu organických složek se stimulačními vlastnostmi k podpoře rostlinných procesů ve prospěch vyššího výnosu a kvality.
                    </p>
                    <div class="link_arrow">
                        <a routerLink="/{{lang}}/product/vitayield" class="link_arrow__a">
                            ...                        
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<app-footer></app-footer>