<div class="body-container" *ngIf="lang == 'en'">
    <div class="body-calcite-container">
        <div class="body-calcite-title">
            <p class="calcite-title__p">
                WHY SHOULD FARMERS USE VITA<span>CALCITE</span>
            </p>
        </div>
        <div class="body-calcite-desc">
            <div class="calcite-desc-text">
                <p class="calcite-desc-text__p1">
                    Vita<span>CALCITE</span> plant booster contains fine micronized calcium particles. This form of microbial calcium is equipped with enhanced biological activity yielding greater efficiency in supporting crop development via:
                </p>
                <ul class="mgt-35">
                    <li class="li-numeric"><p>
                        <span>Enhanced nutrient uptake</span>: Micronized calcium is more readily absorbed by crops than traditional forms of calcium. This is conducive to healthy growth as the small particle size allows them to penetrate deeper into the plant stomata, providing better nutrient coverage and distribution.
                    </p></li>
                        <div class="li-flex-container">
                            <div class="li-flex-col">
                                <h1>Guard cells<br>(swollen)</h1>
                                <img src="../../../../assets/blog/calcite/calcite-body_img1.png" alt="" class="li-flex-col__img">
                                <h1>Stoma<br>opening</h1>
                            </div>
                            <div class="li-flex-col">
                                <h1>Guard cells<br>(shrunken)</h1>
                                <img src="../../../../assets/blog/calcite/calcite-body_img2.png" alt="" class="li-flex-col__img">
                                <h1>Stoma<br>closing</h1>
                            </div>
                        </div>
                    <li class="li-numeric">
                        <p>
                            <span>Stronger cell walls</span>: With access to micronized calcium, plants can build stronger cell walls protecting themselves from pests, diseases, and climate stresses. And because calcium plays such a pivotal role in plant growth and development, its deficiencies manifest in stunted growth and reduced yields.
                        </p>
                    </li>
                    <li class="li-numeric">
                        <p>
                            <span>Healthy roots</span>: When micronized calcium is sprayed to your crops, not only does it promote photosynthesis and nutrient supply, but it also improves the soil structure and root system development, thus increasing water and nutrient availability via plants’ system of capillary roots.
                        </p>
                    </li>
                    <li class="li-numeric">
                        <p>
                            <span>Improved fruit properties</span>: Micronized calcium improves the quality of fruits and vegetables. This includes making them more flavorful, nutritious, firmer, uniform, and resistant to spoilage.
                        </p>
                    </li>
                </ul>
                <p class="mgt-35">
                    Overall, if you are looking for a way to improve the health and productivity of your plants, Vita<span>CALCITE</span> foliar spray lends itself a valuable tool for farmers and growers alike. With a little care and attention, you can easily provide your plants with the nutrients they need to thrive, sustainably for years on end.
                </p>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            YOU MIGHT ALSO LIKE
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/minerals.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    The importance of mineral nutrition in plants
                </p>
                <a routerLink="/{{lang}}/blog/nutrition" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    The importance of high utility calcium
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Zeolite clinoptilolite - Modus Operandi
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    Why should you consider organic agriculture
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  

<div class="body-container" *ngIf="lang == 'cz'">
    <div class="body-calcite-container">
        <div class="body-calcite-title">
            <p class="calcite-title__p">
                PROČ BY MĚLI ZEMĚDĚLCI POUŽÍVAT VITA<span>CALCITE</span>
            </p>
        </div>
        <div class="body-calcite-desc">
            <div class="calcite-desc-text">
                <p class="calcite-desc-text__p1">
                    Vita<span>CALCITE</span> je rostlinný booster obsahující jemné mikronizované částice vápníku. Tato forma mikrobiálního vápníku disponuje zvýšenou biologickou aktivitou, která přináší vyšší účinnost při podpoře vývoje plodin, což má za následek:
                </p>
                <ul class="mgt-35">
                    <li class="li-numeric"><p>
                        <span>Zvýšený příjem živin</span>: Mikronizovaný vápník je pro plodiny lépe vstřebatelný než tradiční formy vápníku. To přispívá ke zdravému růstu, protože malá velikost částic jim umožňuje proniknout hlouběji do stomatu rostliny a zajistit lepší pokrytí a distribuci živin.
                    </p></li>
                        <div class="li-flex-container">
                            <div class="li-flex-col">
                                <h1>Ochranné buňky<br>(zduřelé)</h1>
                                <img src="../../../../assets/blog/calcite/calcite-body_img1.png" alt="" class="li-flex-col__img">
                                <h1>Otevření<br>stomatu</h1>
                            </div>
                            <div class="li-flex-col">
                                <h1>Ochranné buňky<br>(zmenšené)</h1>
                                <img src="../../../../assets/blog/calcite/calcite-body_img2.png" alt="" class="li-flex-col__img">
                                <h1>Uzavírání<br>stomatu</h1>
                            </div>
                        </div>
                    <li class="li-numeric">
                        <p>
                            <span>Pevnější buněčné stěny</span>: Díky přístupu k mikronizovanému vápníku mohou rostliny vytvářet pevnější buněčné stěny, které je chrání před škůdci, chorobami a klimatickými stresy. A protože vápník hraje klíčovou roli v růstu a vývoji rostlin, jeho nedostatek se projevuje zpomalením růstu a snížením výnosů.
                        </p>
                    </li>
                    <li class="li-numeric">
                        <p>
                            <span>Zdravější kořeny</span>: Při postřiku plodin mikronizovaným vápníkem se nejen podpoří fotosyntéza a přísun živin, ale také se zlepší struktura půdy a rozvoj kořenového systému, čímž se zvýší dostupnost vody a živin prostřednictvím systému kapilárních kořenů rostlin.
                        </p>
                    </li>
                    <li class="li-numeric">
                        <p>
                            <span>Lepší vlastnosti plodů</span>: Mikronizovaný vápník zlepšuje kvalitu ovoce a zeleniny, což se projevuje v jejich lepší chuti, výživnosti, pevnosti, jednotnosti a odolnosti vůči kažení.
                        </p>
                    </li>
                </ul>
                <p class="mgt-35">
                    Celkově lze říci, že pokud hledáte způsob, jak zlepšit zdraví a produktivitu svých rostlin, listový postřik Vita<span>CALCITE</span> přijde vhod jako cenný nástroj pro zemědělce i pěstitele. S trochou péče a pozornosti můžete svým rostlinám snadno poskytnout živiny, které potřebují k tomu, aby se jim dařilo, a to soustavně, po mnoho let.
                </p>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            MOHLO BY VÁS ZAJÍMAT
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/minerals.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    ROLE MINERÁLNÍ VÝŽIVY V ROSTLINÁCH
                </p>
                <a routerLink="/{{lang}}/blog/nutrition" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    VÝZNAM VÁPNÍKU
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    ZEOLITO KLINOPTILOLIT MODUS OPERANDI
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    PROČ BY MĚLI FARMÁŘI POUŽÍVAT VITACALCITE
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  