<div class="body-container" *ngIf="lang =='en'">
    <div class="body-mineral-container">
        <div class="body-mineral-title">
            <p class="mineral-title__p">
                THE ROLE OF MINERAL NUTRITION IN PLANTS
            </p>
        </div>
        <div class="body-mineral-desc">
            <div class="mineral-desc-text">
                <p class="mineral-desc-text__p1">
                    Sufficient mineral supply in plants is pivotal to growing leaves, stems, and roots, just as it is indispensable for seed, flower, and fruit production. Plants also require minerals to produce chlorophyll and perform photosynthesis. Therefore, adequate balance of vitamins and minerals for plants is essential for their growth, reproduction, and general survival.
                </p>
            </div>
        </div>
        <img src="../../../../assets/blog/mineral/mineral-body_img.png" alt="" class="mineral-body__img mgt-40">
        <p class="mineral-desc-flex__p mgt-35">
            Vita<span>CALCITE</span> mineral infusion reinforces healthy plant development thanks to:
        </p>
        <div class="mineral-desc-text">
            <div class="mineral-desc-text-flex mgt-40">
                <div class="desc-text-flex-col">
                    <p class="mgt-15">
                        <span>Ca as CaCO&#8323;</span> - A cornerstone for cell wall formation,membrane function, enzyme activity, hormone signaling, and nutrient uptake and transport within the plant
                    </p>
                    <p class="mgt-15">
                        <span>Si as SiO&#8322;</span> - Foundation for the structural and functional integrity of cells resulting in higher resistance to pests,diseases, and environmental stressors.
                    </p>
                    <p class="mgt-15">
                        <span>Mg as MgCO&#8323;</span> - A central component of chlorophyll, therefore indispensable to photosynthesis. Activates enzymes responsible for plant energy transfer.
                    </p>
                    <p class="mgt-15">
                        <span>K as K&#8322;O</span> - Regulates the opening and closing of stomata, which affects water and nutrient uptake. Is also critical for proper function of plant metabolism.
                    </p>
                </div>
                <div class="desc-text-flex-col">
                    <p class="mgt-15">
                        <span>Fe as Fe&#8322;O&#8323;</span> - Another key component for chlorophyll formation and photosynthesis in general. Iron deficiency leads to chlorosis (yellowing of leaves).
                    </p>
                    <p class="mgt-15">
                        <span>Zn</span> - Involved in various enzymatic processes,including the synthesis of plant growth hormones and DNA. Crucial for healthy plant development.
                    </p>
                    <p class="mgt-15">
                        <span>Mn</span> - A co-factor for several enzymes involved in photosynthesis, respiration, nitrogen metabolism. Essential for chlorophyll synthesis.
                    </p>
                    <p class="mgt-15">
                        <span>Mo</span> - Plays a major role in nitrogen fixation,which is critical for plant growth and protein formation. Mo deficiency can lead to stunted growth.
                    </p>
                </div>
            </div>
            <p class="mgt-35">
                In conclusion, our Vita<span>CALCITE</span> foliar agent offers multifaceted crop development support, making it a valuable instrument for modern farmers and growers alike looking to increase their <span>production performance</span> and <span>yield quality</span>.
            </p>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            YOU MIGHT ALSO LIKE
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    The importance of high utility calcium
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Why should farmers use VitaCALCITE plant booster
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    Zeolite clinoptilolite - Modus Operandi
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    Why should you consider organic agriculture
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  

<div class="body-container" *ngIf="lang =='cz'">
    <div class="body-mineral-container">
        <div class="body-mineral-title">
            <p class="mineral-title__p">
                ROLE MINERÁLŮ VE VÝŽIVĚ ROSTLIN
            </p>
        </div>
        <div class="body-mineral-desc">
            <div class="mineral-desc-text">
                <p class="mineral-desc-text__p1">
                    Dostatečné zásobení rostlin minerálními látkami je klíčové pro růst listů, stonků a kořenů, stejně jako produkci semen, květů a plodů. Rostliny potřebují minerální látky také k produkci chlorofylu a k fotosyntéze. Adekvátní rovnováha vitaminů a minerálů je proto nezbytná pro růst, reprodukci a celkové přežití rostlin.
                </p>
            </div>
        </div>
        <img src="../../../../assets/blog/mineral/mineral-body_img.png" alt="" class="mineral-body__img mgt-40">
        <p class="mineral-desc-flex__p mgt-35">
            Používání Vita<span>CALCITE</span> posiluje zdravý vývoj rostlin díky:
        </p>
        <div class="mineral-desc-text">
            <div class="mineral-desc-text-flex mgt-40">
                <div class="desc-text-flex-col">
                    <p class="mgt-15">
                        <span>Ca jako CaCO&#8323;</span> - Základní prvek pro tvorbu buněčných stěn, funkci membrán, aktivitu enzymů, hormonální signalizaci, stejně jako příjem a transport živin uvnitř rostliny.
                    </p>
                    <p class="mgt-15">
                        <span>Si jako SiO&#8322;</span> - Minerál zajišťující strukturální a funkční integritu buněk, čímž zvyšuje odolnost rostliny vůči škůdcům, chorobám a stresovým faktorům prostředí.
                    </p>
                    <p class="mgt-15">
                        <span>Mg jako MgCO&#8323;</span> - Ústřední složka chlorofylu, který je nepostradatelnou součástí fotosyntézy. Hořčík aktivuje enzymy odpovědné za přenos energie v rostlinách.
                    </p>
                    <p class="mgt-15">
                        <span>K jako K&#8322;O</span> - Reguluje proces rozevírání a uzavírání průduchů, což ovlivňuje příjem vody a živin. Je také rozhodující pro správnou funkci metabolismu rostlin.
                    </p>
                </div>
                <div class="desc-text-flex-col">
                    <p class="mgt-15">
                        <span>Fe jako Fe&#8322;O&#8323;</span> - Další klíčový prvek pro tvorbu chlorofylu a fotosyntézu obecně. Nedostatek železa vede k chloróze (žloutnutí listů).
                    </p>
                    <p class="mgt-15">
                        <span>Zn</span> - Podílí se na různých enzymatických procesech, včetně syntézy rostlinných růstových hormonů a DNA. Zinek je zásadní pro zdravý vývoj rostlin.
                    </p>
                    <p class="mgt-15">
                        <span>Mn</span> - Kofaktor několika enzymů zapojených do fotosyntézy, dýchání a metabolismu dusíku. Nezbytný pro syntézu chlorofylu.
                    </p>
                    <p class="mgt-15">
                        <span>Mo</span> - Hraje hlavní roli při fixaci dusíku, která má rozhodující vliv  na růst rostlin a tvorbu bílkovin. Nedostatek molybdenu může vést k zakrnělému růstu.
                    </p>
                </div>
            </div>
            <p class="mgt-35">
                Na závěr připomeňme, že náš listový přípravek Vita<span>CALCITE</span> nabízí zemědělským plodinám všestrannou podporu pro jejich růst, a je tak cenným pomocníkem moderních zemědělců a pěstitelů, kteří chtějí <span>zvýšit výkonnost své farmy</span> a <span>kvalitu výnosů</span>.
            </p>
        </div>
        <div class="vertical-line"></div>
        <div class="blog-other-links">
        <p class="other-links__p">
            MOHLO BY VÁS ZAJÍMAT
        </p>
        <div class="other-links-items">
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcium.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    VÝZNAM VÁPNÍKU
                </p>
                <a routerLink="/{{lang}}/blog/calcium" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/calcite.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    PROČ BY MĚLI FARMÁŘI POUŽÍVAT VITACALCITE
                </p>
                <a routerLink="/{{lang}}/blog/vitacalcite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <img src="../../../../assets/blog/body-other-links/zeolit.svg" alt="" class="links-item__img">
                <p class="links-item__p">
                    ZEOLITO KLINOPTILOLIT MODUS OPERANDI
                </p>
                <a routerLink="/{{lang}}/blog/zeolite" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
            <div class="links-items-item">
                <div class="links-image-wrap">
                    <img src="../../../../assets/blog/body-other-links/consider_organic.svg" alt="" class="links-item__img">
                </div>
                <p class="links-item__p">
                    PROČ STOJÍ ZA TO ZVÁŽIT PŘECHOD NA EKOLOGICKÉ ZEMĚDĚLSTVÍ
                </p>
                <a routerLink="/{{lang}}/blog/agriculture" class="links-item__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
                        <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5V10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807611 22.9792 0.807611 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5V10.5L2 10.5V13.5Z" fill="#0A3600"/>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>  